[2015-06-03 06:23] gperciva opened #4 "bash command argument auto-completion"
if I'm typing

[code]

it would be nice if the shell auto-completed `--humanize-numbers` because I can never remember if tarsnap uses the Oxford 'z' or not.  A few quick googles suggest that this is done (for bash) by adding a script to

[code]

in Debian-based distros.  So this might be nice to add to the binary packages.

[2015-06-10 23:43] gperciva opened #8 "dedupe+compression test dry-run without keyfile"
It would be nice to let people do

[code]

_without_ having a keyfile or registering their machine (or even having a tarsnap.com account).

[2015-07-10 21:38] gperciva opened #10 "libcperciva should save and restore errno; then switch back to warnp"
In relation to 4640c06358764d1bacfc1e302a897947276a62ee:

[code]

[2015-07-14 07:10] cperciva opened #14 "Add --creationtime option"
Currently the `writetape_open` (in `tar/multitape/multitape_write.c`) gets the archive creation time by calling `time(NULL)`.  For the benefit of software built around tarsnap (e.g., the GUI) we should accept a new `--creationtime <posixtime>` option which overrides this value.

In terms of code organization, since `main()` is already checking the time, it may make sense to set the creation time t

[2015-07-14 07:37] cperciva opened #15 "maxbw-rate / aggressive-networking incompatibility"
The bwlimit-rate options are not compatible with aggressive-networking.  (If you have several TCP connections open, it becomes much harder to limit bandwidth usage since you need to figure out how to share it between connections.)  Right now this is handled by refusing to accept those options simultaneously.

A better way of handling this would be to simply print a warning and turn aggressive-netw

[2015-07-14 07:59] cperciva opened #16 "Delete /cache when running fsck?"
If a user has to run --fsck because of local filesystem or disk corruption, there's a nontrivial chance that the chunkification cache will also be damaged.  Since that cache exists purely as an optimization, and fsck isn't something people should run very often, maybe we should delete /cache just in case.

[2015-07-14 08:11] cperciva opened #17 "keygen & keymgmt should take --passphrase-time parameters"
Use case: Running tarsnap-keymgmt to create a super-secure encrypted key file because you're going to be printing it out and storing it offline.

Suggested by: Hugo Landau

[2015-07-14 08:24] cperciva opened #18 "Problems selectively extracting hardlinked files"
Tarsnap currently stores hardlinked files as "link" archive entries without data.  For example, if you have

[code]

then the archive entry for 'a' will contain "foo", while the archive entry for 'b' will simply say "this is a hardlink to 'a'".  Unfortunately, this doesn't interact well with selective extracts:

[code]

This is in fact the identical behaviour to bsdtar: By the time it gets to the

[2015-07-14 08:30] cperciva opened #19 "Exploit the chunkification cache to detect disk errors"
The chunkification cache allows tarsnap to avoid re-reading and re-chunkifying files if they haven't changed since the last time they were archived.  This provides a huge speedup and is a very good thing.

It could be used for another purpose too: If we identify that a file shouldn't have changed, we could read it anyway, and _make sure_ that it hasn't changed.  This might allow us to warn users a

[2015-07-31 00:48] #8 closed, assigned to gperciva

[2015-07-31 00:48] #4 closed, assigned to gperciva

[2015-07-31 01:46] gperciva opened #22 "Config file should strip trailing whitespace"
It's just possible that somebody might be relying on the current behaviour, so this will wait for tarsnap 1.1.  For now, we just print a warning.

Patch ready in 221949b225d06055f81040b3c.

[2015-07-31 01:51] gperciva opened #23 "Config file should support double-quotes"
In the future, we will strip following whitespace (issue #22), but before that we should allow quotes inside config file lines, just in case somebody actually wants to exclude `"* "`.  And obviously `\"` within double-quotes should be parsed as a `"` character.

[2015-07-31 05:39] gperciva opened #24 "bash completion doesn't obey configure --prefix"
[code]

produces a Makefile containing

[code]

This obviously causes `make install` to fail.  :(

[2015-08-03 16:54] #24 closed, assigned to gperciva

[2015-08-06 09:45] #15 closed, assigned to cperciva

[2015-08-07 02:41] #14 closed, assigned to gperciva

[2015-08-07 03:27] gperciva opened #27 "potential commits for 1.0.36 release notes"
I'm not suggesting you need to include git hashes; these are just so that you can look up the commit quickly if you need to refresh your memory

- fix misc memory leaks given unusual failure conditions (edfd943133dfc040e1df48d588df5ce89dcf5ae0, 0df0b6f0eda04801f1c9a47aa243dfdc3ca48464)

- warn if user attempts to place options at the end of the command line (c3c383ecdc6aee6bbfae05b0b2c69886ce600b5

[2015-08-07 07:07] #16 closed, assigned to cperciva

[2015-08-09 20:16] gperciva opened #29 "Official prebuilt binaries"
We should offer official prebuilt binaries for download&install.

We already have some support for this in `pkg/archlinux/` and `pkg/debian/`.  However,
- those files need to be tested on current OSes, and possibly updated for a newer packaging format (I remember seeing some warnings when playing with Debian tarsnap packages).
- any official packages must absolutely be signed
- any official packag

[2015-08-09 20:31] cperciva commented on #29
Also,

* Packages must be built inside virtual machines

* Those virtual machines must be run on physically-controlled hardware which does not have internet access -- source tarballs copied in and binaries copied out via sneakernet.

[2015-08-11 08:30] cperciva commented on #27
I think I managed to list everything important in the email I just sent to the alphatest list.

[2015-08-11 08:30] #27 closed

[2015-08-13 19:16] gperciva commented on #17
So in `lib/keyfile/keyfile.h`, it says:

    /**
     * keyfile_write(filename, machinenum, keys, passphrase, maxmem, cputime):
     * Write a key file for the specified machine containing the specified keys.
     * If passphrase is non-NULL, use up to cputime seconds and maxmem bytes of
     * memory to encrypt the key file.
     */
    int keyfile_write(const char *, uint64_t, int, char *, size_

[2015-08-13 22:27] gperciva opened #32 "Be pickier about memory leaks"
At the moment, tarsnap leaks a bit of memory when it exits.  This is not such a big problem by itself, but warnings about those issues might obscure an more substantial message from code analysis tools such as valgrind if there are any errors during development.  (in particular, when I'm writing code)

The https://github.com/Tarsnap/tarsnap/tree/WIP-valgrind branch is a work in progress towards ad

[2015-08-14 02:11] cperciva commented on #17
"use up to" means that the scrypt code tries to figure out how fast your CPU is and picks parameters which it predicts will use that much time.  In this case, it clearly underestimated your CPU performance -- possibly because your CPU was clocked down but sped up one it started being used.

[2015-08-14 05:02] cperciva opened #34 "storage_write_start does dry runs a bit weirdly"
We should probably change the `storage_write_start` API from "If ${dryrun} is nonzero, perform a dry run (which ignores ${lastseq} and sets ${seqnum} to 32 0s)." to "If ${dryrun} is nonzero, ignore ${lastseq} and ${seqnum}".  Or possibly push dryrun resolution higher in the stack even -- don't create a storage cookie at all, but instead just have the multitape and chunks layers be aware of dryruns

[2015-08-16 04:32] gperciva commented on #17
Addressed in PR #38.

[2015-08-21 14:09] grahammiln opened #42 "OS X - error: use of undeclared identifier 'CLOCK_REALTIME'"
Building tarsnap 1.0.36 with OS X 10.10.5 and Xcode tools 6.4, the build encounters an error.

The file `libcperciva/util/monoclock.c` appears to be calling `clock_gettime` which [may not exist on OS X](http://stackoverflow.com/questions/5167269/clock-gettime-alternative-in-mac-os-x):

## make output

	$ make all install clean
	/Applications/Xcode.app/Contents/Developer/usr/bin/make  all-am
	gcc -

[2015-08-21 16:05] cperciva commented on #42
Fixed in 00bf9764,

[2015-08-21 16:05] #42 closed

[2015-08-24 16:29] Jamie-Landeg-Jones commented on #18
Thanks for this. Until you have time to work on this, couldn't you at least provide a more informative error message, seeing as tarsnap knows why the problem has occurred.

e.g. /usr/blah: Unable to restore hard linked file. Please restore all instances of this inode.

When I experienced this recently, I knew the file I was restoring was hard linked, so I suspected (and confirmed) that this was th

[2015-08-24 20:41] cperciva commented on #18
Good point.  I can't remember exactly where the hardlink extract failure occurs, but it should be straightforward to adjust the error message.  @gperciva, can you track this down?

[2015-08-24 22:05] gperciva commented on #18
Yes and no.  Here's a first draft for discussion: https://github.com/Tarsnap/tarsnap/commit/0b84f2a41639497d8888aac8a99a0750bf2ba663, which produces:

[code]

The actual error message is printed from the bottom of `restore_entry()`; that's the function immediately above `create_filesystem_object()` in ` libarchive/archive_write_disk.c` so it's easy to see it in github.  In particular, that functio

[2015-08-24 22:11] gperciva commented on #18
Also: POSIX `link` http://pubs.opengroup.org/onlinepubs/9699919799/functions/link.html says

[ENOENT]
A component of either path prefix does not exist; the file named by path1 does not exist; or path1 or path2 points to an empty string.

The patch does not check for the "component of either path not existing" case.  (`restore_entry()` tries creating the parent dir of the link, but doesn't check th

[2015-08-27 01:25] lattera opened #49 "Feature Request: SIGINFO Support"
For obvious reasons. SIGINFO support would be extremely nice.

[2015-08-27 01:43] cperciva commented on #49
Err... yes, it is.  And it's already there. ;-)

[2015-08-27 01:45] lattera commented on #49
Ah, so it is. The first time I hit ^T, only the system SIGINFO handler gave output, not tarsnap. Maybe I just needed to be more patient. Closing bug. Ignore this blonde moment. ;)

[2015-08-27 01:45] #49 closed

[2015-08-27 05:30] cperciva commented on #49
It's possible that you hit ^T before tarsnap's siginfo handler was installed.  Or maybe you just didn't wait long enough for it to check if the signal had been received (standard idiom, the signal handlers sets a flag which gets polled from the rest of the code).

[2015-08-30 05:48] cperciva commented on #17
Fixed in 89d0340.

[2015-08-30 05:48] #17 closed

[2015-09-06 20:51] cperciva opened #62 "check for keys doesn't account for @@archive"
When we're checking to make sure we have all the keys we need, we're assuming that archive creation only requires write keys.  But if there's an @@archive directive, we will need read keys as well, which means we could end up at "Programmer error: key not available".

I'm not sure what the best solution is for this; scanning the command line for @@archive directives?  We need to be careful to not

[2015-09-16 16:14] tomfitzhenry opened #66 "Release under a "free" license"
I'd like Tarsnap to be distributed by Debian/Ubuntu for a few reasons:
* it's useful for other packages to depend on Tarsnap (e.g. an application's own backup scripts, which are packaged)
* compiling the package is more faff than `apt-get install tarsnap`
* I trust packages distributed by the Debian project moreso than those in unofficial apt repositories (of which there are numerous for distribut

[2015-09-16 19:44] cperciva commented on #66
I'd love to see Tarsnap packages in debian, but I can't change the license.  Tarsnap is commercial software, not open source software, and changing the license would make it too easy for the code to be repurposed in ways which result in me not getting paid (e.g., setting up competing tarsnap-compatible services).  I BSD-license code whenever I can, but the commercial reality just wouldn't work her

[2015-09-16 20:20] tomfitzhenry commented on #66
If I was in your shoes, I doubt I'd make it freely available, so I can't complain too loudly. :)

I'd somehow forgotten about Debian's non-free archive. Thanks for the suggestion, I've raised an issue there: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=799214

[2015-09-16 20:20] #66 closed

[2015-09-16 20:39] cperciva commented on #66
Thank you for understanding. :-)

In case it helps with the RFP, there are debian packaging bits in the tarsnap source tree already: https://github.com/Tarsnap/tarsnap/tree/master/pkg/debian

These were contributed to tarsnap 6 years ago and haven't been changed much since then beyond me updating the changelog; so I'm sure it could benefit from an experienced Debian developer looking it over, but

[2015-09-18 19:14] gperciva commented on #32
I believe these leaks have been fixed.

[2015-09-18 19:14] #32 closed

[2015-09-22 18:42] gperciva commented on #18
There's a few comments about attacking the root problem with hardlinked files:
http://mail.tarsnap.com/tarsnap-users/msg01150.html

[2015-09-22 19:07] gperciva commented on #62
Note to self: assuming you have the file `ok.txt` in archive `a0`, reproduce with:
[code]

[2015-09-22 19:25] gperciva commented on #62
Correction for testing:
[code]

[2015-09-25 00:08] gperciva commented on #62
Should be addressed in #68.

[2015-09-25 00:08] #62 closed

[2015-09-25 00:08] gperciva commented on #34
Addressed in #61.

[2015-09-25 00:08] #34 closed

[2015-09-29 19:35] gperciva opened #76 "creating a new archive after nuke requires a fsck"
It would be nice if we could do

    tarsnap --nuke
    tarsnap -c -f whatever ~/whatever

without having a `tarsnap --fsck` in between those commands.  (on a slightly related note, it would be nice if `--nuke` and `--fsck` finished quicker if there was no data in tarsnap; right now `fsck` takes 10 seconds.  Although if `fsck` is no longer required, that part is moot (or at least mooter)).

[2015-09-29 23:48] cperciva commented on #76
Leaving breadcrumbs for myself when I come back to this issue later: The reason we need a fsck is because `tarsnap -c` needs to know what bits are on the server already.  If we have only the write keys, we can't issue a NETPACKET_DIRECTORY request, so we can't list what's on the server (and without the *read* keys, we can't figure out how many times each block is used).

But if we add a new NETPAC

[2015-09-30 00:46] cperciva opened #77 "--keep-going option?"
When running `tarsnap --print-stats` or `tarsnap -d`, multiple `-f` options can be specified.  It might be a good idea to have a `--keep-going` option which makes tarsnap continue if one of the archives specified does not exist.

Use case: Trying to create daily archives, but sometimes the archives don't get created (e.g., laptop + cron job).  Want to delete a set of old archives without worrying

[2015-10-10 23:11] gperciva opened #82 "make the chunkification cache use blocks with padding"
We need a way to tell libarchive that we've added padding to a block ourselves.  Right now libarchive wants to add padding itself, so we can't make use of cached chunks which contain the padding.

[2015-10-11 02:20] gperciva commented on #77
This has been merged, and will appear in 1.0.37.

[2015-10-11 02:20] #77 closed

[2015-10-16 01:19] cperciva opened #86 "ENOENT isn't always meaningful"
This is not particularly useful:

    tarsnap -cf foo foo
    tarsnap: foo/bar/baz: Cannot stat: No such file or directory
    tarsnap: Error exit delayed from previous errors.

If we're trying to archive a file because we found it in a directory we recursed through, but find that it doesn't exist, then it just means that we lost a race condition.  That's fine; just like "file has grown while bein

[2015-10-16 01:21] cperciva commented on #86
I'm marking this as postponed because I don't think it makes sense to work on this until we move to a newer libarchive and use the new tree-traversal code.  There will need to be some logic for recognizing the difference between "this is a file the user asked us to back up" and "this is something we found during the filesystem traversal", and that's going to depend on the new traversal code.

[2015-10-31 19:41] cperciva opened #87 "tarsnap --print-key-id"
Read a key file and print the machine ID #.  Will be undocumented; this is a private interface for the GUI to use.

[2015-11-03 15:55] jungle-boogie opened #88 "build failing on head"
Occasionally I build tarsnap from the github but I had this failure this morning:

keygen/tarsnap_keygen-keygen.o `test -f 'keygen/keygen.c' || echo './'`keygen/keygen.c
mv -f keygen/.deps/tarsnap_keygen-keygen.Tpo keygen/.deps/tarsnap_keygen-keygen.Po
cc -I./libarchive                -I./tar                         -I./lib/crypto          -I./lib/datastruct              -I./lib/keyfile

[2015-11-03 21:04] cperciva commented on #88
Did you run `autoreconf -i` again?  If you had old autotools files in your tree that would explain why the new file didn't get linked in.

[2015-11-03 21:15] cperciva opened #89 "Keyless dry-run finds default config"
Not the intended behaviour:
[code]

I think in the command line processing we should record whether a key file or a cache directory were specified *on the command line*; if not (e.g., we have a keyfile set, but it wasn't done on the command line) then we need to add fallback mechanisms for dry runs.

I can't remember the details of cache directories enough to say exactly what needs to be done ther

[2015-11-04 03:22] gperciva commented on #89
I can't reproduce in an obvious way.  I mean, if I run

    $ tarsnap --dry-run --print-stats --humanize-numbers --no-default-config -c ~/backup

then it's fine.  If I run

    $ tarsnap --dry-run --print-stats --humanize-numbers -c ~/backup

without a `~/.tarsnaprc` then it's fine.  If my `~/.tarsnaprc` is empty (or commented out), then it's also fine.

If `~/.tarsnaprc` points to a non-existent

[2015-11-04 03:32] gperciva commented on #89
Thinking "out loud", we don't want to automatically add `--no-default-config` if somebody specifies `--dry-run`, because their config file could usefully specify `--humanize-numbers` and their cache directory.  And we definitely want to use the cache directory if it exists, otherwise the dry run will report that all data would be uploaded (which doesn't change anything in the "pre-signup case", bu

[2015-11-04 05:14] jungle-boogie commented on #88
Hi @cperciva,

thanks! that fixed it and I'll try that next time a fail happens.

[2015-11-04 05:14] #88 closed

[2015-11-05 07:00] cperciva commented on #89
Yes, but I *want* tarsnap.conf.sample to be installed as tarsnap.conf if no configuration file exists yet; the options in there are recommended.

[2015-11-09 17:50] gperciva commented on #87
Might I register a slight protest against "will be undocumented"?  Is there any foreseeable harm in documenting it with something like "This is unlikely to be useful when tarsnap is being invoked directly from the command line." (as we did for `--creationtime`) ?

[2015-11-10 08:05] gperciva commented on #19
Colin's feature description (from Jul 14) is addressed in #94.  My "use case" (Aug 8) is irrelevant and somewhat misleading: in my case, the mtime and/or size of the files must have changed in order for tarsnap to back up the (corrupted) files.  It's still possible that PR #94 would have given me a warning, but it's not guaranteed even if the code existed and I used a check probability of 1.0.

In

[2015-11-10 08:24] cperciva commented on #19
Was your file changing every time you backed it up?  If not, there's a good chance that this feature would have warned you when the file was corrupted and you hadn't (deliberately) modified it yet.

But if a file has been modified deliberately, there's no way tarsnap will ever be able to distinguish between "modified deliberately" and "modified deliberately and also corrupted at the same time".

[2015-11-10 09:17] gperciva commented on #19
I didn't keep careful notes.  Sometime around March 2015 (I think?  Mom was getting more serious about violin and wanted a new duet), I discovered that some of my lilypond files didn't compile because the text was corrupted.  Further investigation revealed that some old emails also had random corruption (in email bodies and attachments).  I checked the previous archive, and it showed the same corr

[2015-11-10 23:59] cperciva opened #96 "--nuke doesn't use cache directory"
This is a feature (if you lose your cache directory and want to nuke a machine, you shouldn't have to run `--fsck` first), but it has two downsides:

1. Not using the cache directory means not *locking* the cache directory, so `tarsnap --nuke` will be interrupted if a cron job kicks in to create an archive.

2. Not using the cache directory means not updating the cache directory, so people need to

[2015-11-11 00:01] cperciva commented on #96
Note: Issue #76 is the second downside I mentioned above.

[2015-11-11 20:42] gperciva commented on #87
Another idea: in addition to making it public, how about adding a separate `--print-key-permissions` (or `authorization` which would print whether that key had READ, WRITE, DELETE, NUKE permissions.  This arose on the mailing list in 2012:  http://mail.tarsnap.com/tarsnap-users/msg00542.html

[2015-11-23 17:43] Safari77 opened #99 "archive_entry_xattr_add_entry"
I don't see the point in the for loop.
And if strdup fails, it leaks mem pointed to by xp.

[2015-11-23 18:12] Safari77 opened #100 "writetape_close flushtape double free"
```writetape_close```: in flushtape, if chunklist_exportdup returns true, ```d->h.index``` is freed and flushtape returns -1 , after ```err2``` it does ```stream_free(&d->h)``` which is ```chunklist_free(S->index)```

[2015-11-23 21:59] gperciva commented on #100
I can confirm this behaviour; easiest way to test is to make line 768 of `tar/multitape/multitape_write.c` into `goto err2;`

I am working on a fix and investigating potential related issues now.

[2015-11-23 22:08] gperciva commented on #99
Thanks for your report about `libarchive/archive_entry.c`, lines 1708-1715.

To be honest, I am completely clueless about that `for` loop:

[code]

It would clearly be valuable to set `xp` to a certain value (by walking through the list) if `xp` was used, but then `xp` is immediately being set to a new value.  Note that this code exists in modern libarchive (in `libarchive/archive_entry_xattr.c`,

[2015-11-23 22:29] gperciva commented on #100
Setting `d->*.index` to NULL after freeing them avoids the double-free, but it leaves some memory leaks.

BTW, thank you for this report!  (sorry for forgetting to add this to the previous comment)

[2015-11-29 01:33] cperciva commented on #100
I'm pretty sure the free() calls in the error-handling path of flushtape should be `free(tmi.Xindex);` for X = 't', 'c', 'h'.  Graham, since you presumably have valgrind set up to confirm this bug, can you see if that change fixes it?

[2015-11-30 04:54] gperciva commented on #100
That was the conclusion I reached, and I verified the fix easily with regular archives, but I had some issues tested it with checkpoints.  I've resolved those, and it works there too.  PR #101

[2015-11-30 05:03] cperciva commented on #100
Thanks, committed.  @Safari77, do you have a Tarsnap account?  This is worth a $20 bug bounty.

[2015-11-30 19:35] #100 closed

[2015-12-04 21:28] miketweaver commented on #89
Might be a good idea to add --no-default-config to your FAQ section:
https://www.tarsnap.com/faq.html#COST-BEFORE-SIGNUP

[2015-12-05 05:47] gperciva commented on #89
Good idea.  I was hoping this would be a quick fix, but even if was, people running 1.0.37 would still be stuck until 1.0.38 came out.

[2015-12-30 05:06] gperciva commented on #87
This was added (with documentation) in #87.

[2015-12-30 05:06] #87 closed

[2016-01-01 22:04] zachborboa opened #106 "tarsnap.com is accessible over non-https"
First search result also points to non-https version of site
https://www.google.com/search?q=tarsnap

Maybe change
`<link rel="canonical" href="http://www.tarsnap.com/">`
to
`<link rel="canonical" href="https://www.tarsnap.com/">`

[2016-01-02 09:10] cperciva commented on #106
This is deliberate.  I plan on pushing people towards the HTTPS side in the future, but right now I take advantage of the HTTP/HTTPS separation in javascript's "same origin" policy to make sure that issues in the javascript on the main site don't allow unintended access to the account management section (which *is* forced to HTTPS).  Once I move that to a new domain I'll be able to keep everything

[2016-01-02 09:10] #106 closed

[2016-01-07 17:00] cperciva opened #112 "Users get confused by not seeing anything happening"
Like all good UNIX utilities, tarsnap runs quietly unless it has a reason to be noisy (e.g., an error occurred, or the user asked for verbosity).  Unfortunately this is provoking a FAQ: "Tarsnap doesn't seem to be doing anything, did it hang?"

I think the solution to this might simply be better documentation, but I'm creating the issue here in case anyone wants to chime in with suggestions.

[2016-01-07 17:04] cperciva opened #113 "Tarsnap stats get mangled with recovered checkpoints"
There's a glitch in the handling of the "all archives" statistics relating to recovered checkpoints.  Specifically, if an archive is recovered from a checkpoint the "extra" statistics for the metadata and metaindex blocks aren't included; but they're deducted off when that recovered archive is deleted.  This shows up when users delete _all_ of their archives, and then get told that they have 18.4

[2016-01-07 18:53] gperciva commented on #112
I personally don't think it would be terrible if an abbreviated version of `--print-stats` happened automaticaly.  Namely, something like:

[code]

I figure there's no way that you would accept that, though.  :|

Another option could be making `-v` imply `--print-stats` (or `--print-short-stats` for the above material?).  I mean, `-v` by itself doesn't have any kind of "completed" message.  Sure,

[2016-01-07 18:56] cperciva commented on #112
Adding `--print-stats` wouldn't help.  The problem is that people are pointing tarsnap at many GB of data, and seeing nothing happen, when in fact tarsnap is running smoothly uploading data.  They think it got stuck because it hasn't output anything and hasn't exited either.  Then they hit ^C.

[2016-01-07 19:06] gperciva commented on #112
Hmm.  What about a `--upload-progress` flag which printed how much data was uploaded (and perhaps also how much data was read from disk / in cache) ?  As discussed previously, we can't tell them "uploaded 1.2 / 7.5 GB", but at least they could see "uploaded xyz MB" updating in realtime.

[2016-01-08 07:43] shinnok commented on #112
Any progress parameter would be useful for the GUI too. I'd be happy to incorporate an extra piece of useful info along with the loading gif.

On the original FAQ, personally I have nothing against the command line client running silently by default. I think it works well like this in true allegiance to UNIX utils. Any command line user should be apt enough to check on its status on his own or ask

[2016-01-10 23:47] cperciva opened #116 "Add --resume-extract option"
From http://mail.tarsnap.com/tarsnap-users/msg00501.html:

[code]

We can't use --keep-newer-files to "resume" an extract because it will skip a file which was half-extracted.  If we check the modification time _and the file size_ we'll catch this.

[2016-01-30 07:24] cperciva opened #132 "Add --verify-config option"
Suggestion from a Tarsnap user:

We won't want this to load tarsnap keys, since we might want to check a configuration file on a system without keys installed.  So the handling of the `--keyfile` option will need to change from "load the keys" to "store the path and load the keys later".  But that should be fairly straightforward, and I don't *think* there are any other similar issues.

Then we sh

[2016-02-03 18:20] gperciva commented on #89
Fixed in #91.

[2016-02-03 18:20] #89 closed

[2016-02-09 03:28] gperciva opened #137 "cachedir should warn about using the wrong key"
First mentioned in http://mail.tarsnap.com/tarsnap-users/msg00294.html

Test case:
[code]

We should have a more useful error -- in this case, running `--fsck` isn't actually the best fix, since that'll wreck the cache directory for the real key.  Instead, we should be warning that it's the wrong keyfile.

[2016-02-09 06:02] cperciva commented on #137
This isn't currently possible, since there's nothing in the cache directory which identifies which keyfile was used.  But it may be possible to fix this at the same time as we gain support for sharing a cache directory between keys.

[2016-02-21 22:19] gperciva commented on #132
This was added in #134, and will be in 1.0.37.

[2016-02-21 22:19] #132 closed

[2016-03-12 08:57] cperciva opened #146 "Add NEWS file"
We should have a NEWS file, with the same level of granularity as the release notes on the website.  This will make it easier for people who are updating packages in OS repositories to see what has changed; and if we keep it updated it could help to make sure we don't miss anything which belongs in the release notes.

[2016-03-13 19:07] gperciva commented on #146
Fixed in #148.

[2016-03-13 19:07] #146 closed

[2016-05-31 12:16] Vanhecke opened #162 "Unable to continue traversing directory tree"
So this error started happening.

Example:
[code]

It always stops on this folder. I haven't worked on this project/git repo for a long time and the last-changed time of the folder dates back to 2015, it has been tarsnapped many times since then.

[2016-05-31 17:10] gperciva commented on #162
Hmm.  That error message appears to only occur if the libarchive code in `tar/tree.c` produces `TREE_ERROR_FATAL`, after a failure with `fchdir`, `chdir`, or `readdir`.

To help us narrow it down, could you send us the output of this:

[code]

I don't think the libarchive code would produce such an error if it was as simple as having weird permissions on a directory, but let's check that anyway.

[2016-05-31 17:26] Vanhecke commented on #162
I received Disk I/O errors running those commands.
I re-plugging the disk (its an sdcard), cleaned the slot and now everything is working again.

[2016-05-31 17:26] #162 closed

[2016-06-06 16:42] gperciva opened #164 "humanize-numbers doesn't affect SIGINFO output"
The `siginfo_printinfo()` function in `tar/siginfo.c` should obey the `--humanize-numbers` command.

[2016-06-06 16:46] gperciva commented on #164
Arises from: http://mail.tarsnap.com/tarsnap-users/msg01264.html

[2016-06-09 00:05] marrie commented on #164
I hope this can be looked into as not all of us want to convert the bite count. I suck at doing that on the fly.. Thanks for looking into this.

[2016-06-11 14:28] gperciva opened #167 "inconsistency in filename case sensitivity handling"
When one refers to a filename or directory, the case sensitivity depends on the filesystem.  So on OSX (with the default filesystem),

    keyfile /users/me/tarsnap.key

works just fine.  However, the `include` and `exclude` commands are always case sensitive, since it uses `fnmatch()` in the C layer, not the filesystem layer.

I'll update the docs, but I'm also leaning towards printing a warning

[2016-06-11 21:12] marrie commented on #167
I like that idea, however is it possible to let tarsnap be the same case sensitivity as the osx? For example on mac os you might have hfs journaled, or the same but case sensitive. Rather then case insensitive. I don't know how this would work, however it is a thought I've ben considering, since I've ben helping the author of this posttry and find this bug.

[2016-06-11 21:42] gperciva commented on #167
It gets complicated -- OSX can be case-sensitive if you configure it that way.  Also, I'm not aware of a safe and reliable way to check if a certain filesystem is case-sensitive or not.  Also, it could occur that somebody's `/` directory is case-insensitive, but `/Users/` is case-sensitive, but `/Users/me` is case-insensitive... I'll need to look into various possibilities.

[2016-06-11 21:47] marrie commented on #167
Oh yeah I kind of forgot about that, oops?  If the "warning" were to take place I guess the user would have to change the "exclude" function in their script. Correct? Just some thoughts here.

[2016-06-14 05:26] marrie commented on #167
Hello there.  I'm noticing that when I delete an archive  it takes for ever, actually it doesn't happen. I'm noticing the following prompt.

load: 2.66  cmd: tarsnap 68371 waiting 4.57u 0.28s
load: 2.60  cmd: tarsnap 68371 waiting 4.68u 0.32s

Now, I should add I restored a CCC partition today.  Can this have something why the archive appeared to freeze  when deleting?  I don't want to reregister

[2016-06-14 22:35] gperciva commented on #167
Hi, I've sent you an email so that we can discuss the "delete an archive" issue separately.  Let's keep this github issue for discussing filename case sensitivity.

[2016-06-14 23:16] marrie commented on #167
Good idea.  I think maybe the message should be what comes up if you are in debug mode, something like this.

"tarsnap, unable to exclude /aath/to/file. Reason: cases do not match. Please check with your system administrator for more info." or at least something like that.

The message could of corse be changed but at least it's a step in the right direction.

[2016-06-28 16:20] gperciva commented on #99
Thanks for the report!  These were finally accepted in libarchive upstream:
https://github.com/libarchive/libarchive/commit/8135eecf4530796050d0987e825cb6d2f99f6740
https://github.com/libarchive/libarchive/commit/c7fb9682b1a0a98f11c9d62bc238556a6e4f6066
and we have included these fixes in Tarsnap in #163.

[2016-06-28 16:20] #99 closed

[2016-06-28 16:21] gperciva commented on #164
Fixed in #166.

[2016-06-28 16:21] #164 closed

[2016-07-25 16:07] gperciva opened #173 "Add --iso-dates for -t option"
As per http://mail.tarsnap.com/tarsnap-users/msg01310.html

[2016-08-11 05:53] abhi7918 opened #180 "index of vulnerability"
https://www.tarsnap.com/images/
https://www.tarsnap.com/download/

by this vulnerability grab any files directly
and should not be accessible by an unauthorized party who happens to know the URL. Nevertheless, directory listings can aid an attacker by enabling them to quickly identify the resources at a given path, and proceed directly to analyzing and attacking them.
Configure your web server to

[2016-08-11 06:20] cperciva commented on #180
Not a vulnerability.  Not even a bug.

[2016-08-11 06:20] #180 closed

[2016-08-13 21:17] gperciva opened #181 "fails to build on freebsd due to _POSIX_C_SOURCE"
@cperciva did warn of fallout from #170, but I didn't imagine it would be like this...

freebsd 10.3-RELEASE-p4

[code]

This is because `u_int` is only defined in `sys/types.h` if `__BSD_VISIBLE` is defined, and _POSIX_C_SOURCE stops __BSD_VISIBLE from being defined.

There's an existing PR and discussion from 2011:
https://lists.freebsd.org/pipermail/freebsd-bugs/2011-April/044044.html
https://b

[2016-08-14 02:34] gperciva commented on #181
Thinking about this a bit more, I'm confused.  I view "`-D_POSIX_C_SOURCE`" as saying "I need to use POSIX features, not just standard C features".  But it seems that some people view "`-D_POSIX_C_SOURCE`" as saying "I promise that I'm not using anything other than POSIX"?

One point towards the "I promise I'm not using anything other than POSIX" is this:

However, `sys/mount.h' isn't in POSIX, no

[2016-08-14 09:40] cperciva commented on #181
So, `_POSIX_C_SOURCE` says "I claim that this code is strictly POSIX-compliant; make sure that you don't break it".  In many cases this means "don't expose symbols which POSIX doesn't mention", since if (for example) an OS declares a function `foobar` but the strictly-POSIX-compliant program provides its own `foobar`, the incompatible declarations could break the build otherwise.

This does not ap

[2016-08-15 15:55] gperciva opened #184 "freebsd gettimeofday is not defined"
Nitpicky build failure on freebsd 10.3-RELEASE-p4.  A normal `make` works just fine; doing `clang -Weverything -Werror -Wno-a-bunch-of-specific-warnings` produces this:

[code]

`gettimeofday()` is hidden inside `#if __XSI_VISIBLE` in `/usr/include/sys/time.h`.  This isn't necessarily a huge problem since:

and `monoclock.c` tries to use `clock_gettime()` first.  However, in order to work around O

[2016-08-18 02:30] #181 closed

[2016-08-20 05:09] zerocoolghostman opened #189 "Vulnerability@TarSnap"
**i reported this to admin 8 days ago but no reply**
email address: hackridersec@gmail.com
------------------------------------------------
Hello TarSnap Security Team
---------------------------
My name Is Shivbihari Pandey
------------------------------
Bug:
1.Poor Password Policy
2.Authentication Problem
3. Poor Encryption in the Web Browser

----------------------------------------------
POC V

[2016-08-20 09:37] #189 closed

[2016-10-16 03:26] gleb opened #205 "Can't build Debian source package - dpkg-source: error: can't build with source format '3.0 (quilt)'"
[code]

That's because you are not providing a diff & original source, but rather a Debian native package.

Workaround:

[code]

Googling finds similar problems in other packages, e.g.:
https://github.com/SoftEtherVPN/SoftEtherVPN/issues/90

Problem introduced by commit 09e770408fe888799e040666fdbf8b1909d74d5e

[2016-10-16 18:45] gperciva commented on #205
Hi, thanks for the report.

Could you please elaborate on where you found the `dpkg-buildpackage -rfakeroot -d -us -uc -sa -i -S` command?  Our instructions https://github.com/Tarsnap/tarsnap/blob/master/pkg/README.md say to use `dpkg-buildpackage -b` and that seems to work.

I believe that we are following the recommendation to provide 3.0 (quilt) packages.  If you follow the instructions in
http

[2016-10-16 18:47] gperciva commented on #205
Also note that if you want to re-create that `.debian.tar.gz` from the original tarball, the https://github.com/Tarsnap/tarsnap/blob/master/pkg/DEBIAN.md instructions show how.

[2016-10-16 21:07] gleb commented on #205
I am actually building a source package with `debuild -S` which then gets uploaded to our build server, gets built with pbuilder, and loaded into reprepro managed private debian repo.  `dpkg-buildpackage` gets invoked by `debuild -S`  You are not seeing this problem because of `dpkg-buildpackage` `-b` flag.

I'll look into Debian source repo you are now providing, thanks.   This was news to me.`

[2016-10-16 21:24] gperciva commented on #205
My reading of the Debian policy is that we should not be providing "native" packages:

In our case, there is another an important reason: reproducibility.  By keeping the original tarball the same (other than the unavoidable changing of its filename), users can verify it with checksums (such as `sha256sum`).  That only leaves the much-smaller `.debian.tar.gz` file to verify manually.  And even in

[2016-10-17 02:51] gleb commented on #205
OK, fair enough.

Now that I know you have an apt repo, looking forward to seeing official pre-built binaries there some day.

[2016-10-18 12:47] mulle-nat opened #206 "./configure fails on Ubuntu"
The INSTALL documentation (lol which ?) should say that you need

`apt-get install e2fslibs-dev zlib1g-dev libssl-dev`

otherwise you may get (or some such)

[code]

[2016-10-18 18:11] gperciva commented on #206
Hi, thanks for the report.  The "compiling" webpage already explicitly mention `e2fslibs-dev`:

However, it is true that this information is not included in the tarball.  I'll take a look at adding it somewhere.

[2016-10-18 21:17] mulle-nat commented on #206
[code]

would have helped me, as the information about "compiling" had already scrolled by. Admittedly I could have put in more effort to find it though :)

[2016-10-19 23:43] greyspectrum commented on #29
Hello, thank you for developing Tarsnap! I have a small, (potential) contribution which may or may not prove useful:

I wrote a shell script that fetches and verifies (via a hard-coded fingerprint) the Tarsnap signing key, fetches the Tarsnap tarball and the signed hash file from the project site, verifies the hash file and checks the signed hash against a local sha256 hash of the tarball before c

[2016-10-20 20:32] cperciva opened #207 "Add --passphrase-force option"
This option would circumvent the "will this require too much memory / time" mechanism in scryptenc and just assume that the user knows what they're doing.  Probably worth adding the same option to scrypt too...

[2016-10-20 20:40] gperciva commented on #207
Err, that sounds like you want to brute-force things.  Maybe for those dangerous ASICs.  ;)

How about `--passphrase-mem-force` instead?

[2016-10-20 20:52] gperciva commented on #207
ah, I didn't notice the "/ time" part, since I was thinking of the mailing list thread.  How about `passphrase-resources-force`, then?

[2016-10-20 21:32] cperciva commented on #207
`--passphrase-resources-force` seems a bit verbose.  And "force" is pretty typical UNIXese for "do what I told you to do even if you think it's a bad idea".

[2016-11-07 03:44] cperciva commented on #173
I think this can be closed now?

[2016-11-07 03:44] #173 closed

[2016-11-07 18:31] #205 closed

[2016-11-17 15:21] larryhynes opened #217 "No. No I don't have 18EB of data; go home tarsnap, you're drunk."
tarsnap built from deb package, newly registered machine, first run of tarsnap:

[code]

Is 18EB just a placeholder value for when we don't know just how much data we have, or am I about to get a really big bill? :smiley:

[2016-11-17 18:11] gperciva commented on #217
Nice!  I can reproduce it, and should have a fix in a few minutes.

Since @cperciva doesn't think there should be legal action for an unpaid $0.00 bill (https://mobile.twitter.com/cperciva/status/799080890286542848), I think you'll be safe.  :)

[2016-11-17 19:14] cperciva commented on #217
This is issue #113, which I diagnosed years ago but never got around to fixing.  Hopefully @gperciva can take care of this. :-)

[2016-11-17 20:13] gperciva commented on #113
Note to self: this can be illustrated without "recovered" or "deleted":

- (set up `checkpoint-bytes 1M`)

[code]

(the sizes increased after the `fsck`)

If we now delete `a1.part`, the size is 0 (as it should be).

[2016-11-17 20:23] cperciva commented on #113
Eh?  Tarsnap is recovering a partial archive from a checkpoint in your example.

[2016-11-17 20:55] gperciva commented on #113
I hate jargon.

[2016-12-13 22:17] larryhynes commented on #217
All's well that ends well.

[2016-12-13 22:17] #217 closed

[2016-12-26 09:15] cperciva opened #224 "Add support for storing raw data"
It would be nice if, in addition to storing archives like tar, tarsnap could store arbitrary streams of data.  This would allow things like "<dump vm image> | tarsnap --raw-write" to work.

Since the stream would not have parts tagged as "tar headers" vs "tar data" and there would be no backing filesystem metadata to permit use of the chunkification cache, running "tar | tarsnap --raw-write" would

[2017-01-16 05:52] #207 closed

[2017-03-31 03:54] Intensity opened #242 "Support write-only key existing on a separate node as part of a shared dataset"
Initially I had thought I could generate a key for a single, shared dataset, and then derive a write-only key that I put on other satellite hosts. The goal was to let the satellite hosts write new archives, and let read operations happen only on the original main host (the one that has the original key).

After trying this out with `tarsnap-keymgmt` with the `-w` option (I placed the resultant "wr

[2017-03-31 16:18] gperciva commented on #242
There are two possible ways of running Tarsnap on multiple machines with the same key: http://www.tarsnap.com/multiple-machines.html

The important point is not that each cachedir needs to be in sync with other cachedirs; rather, the cachedir needs to be in sync with the *Tarsnap server*.  Look at it this way: the satellite host needs to know which data is already on the server before it can deter

[2017-04-01 15:52] gperciva commented on #184
Fixed in https://github.com/Tarsnap/tarsnap/commit/d8909383139329015f4fe97f2463e5648625483b, when we enabled XSI stuff.

[2017-04-01 15:52] #184 closed

[2017-04-25 22:27] jungle-boogie opened #249 "'INT_MAX' undeclared"
Hi All,

Attempting to build `tarsnap` from the git repo on FreeBSD 11-release.

[code]

I see this commit from a little more than a month ago:
https://github.com/Tarsnap/tarsnap/commit/95132525ab533cd6d52ddcd83ccad2d397a2c751

thanks!

[2017-04-25 22:55] gperciva commented on #249
Interesting!  I see that `INT_MAX` is defined in `<limits.h>` in POSIX, so I've made a PR to fix this.  However, I can't reproduce with my own FreeBSD installation.  Could you please post the result of
[code]

on your system?

[2017-04-25 22:59] jungle-boogie commented on #249
yes, sir!

[code]

[2017-04-25 23:11] gperciva commented on #249
Thanks!  Unfortunately that hasn't clarified why I don't see that compile error on my systems, but I don't know much about FreeBSD so I can easily believe that I'm missing something.  Maybe @cperciva can shed some light?

[2017-04-25 23:30] cperciva commented on #249
Looks like the OpenSSL in 11.0-RELEASE has <limits.h> included from <openssl/bn.h>.

Is @jungle-boogie using a different SSL library?

[2017-04-26 00:05] jungle-boogie commented on #249
hi @cperciva,

yes, I'm using LibreSSL 2.5.3.

Thanks,
jb

[2017-04-29 23:31] gperciva commented on #249
I believe this is now fixed.

[2017-04-30 02:09] jungle-boogie commented on #249
Hi @gperciva,

I performed the following:
[code]

The outcome:
[code]

[2017-04-30 04:22] gperciva commented on #249
Thanks for the report!  I have a fix for this specific issue, but there's other problem that arise with libressl.  I'm investigating now so that I can discuss them with @cperciva.

[2017-05-02 04:28] jungle-boogie commented on #249
Hi @cperciva,

Alas

[2017-05-10 10:00] np opened #258 "Tarsnap could accept keyfiles missing final \n"
It happened to me that my key files got stripped out of their final new line character. Tarsnap was then considering them as "corrupt or truncated" which is fair.

I was wondering if this would do any harm to be a bit more lenient here.

[2017-05-29 06:24] captainpete commented on #116
+1

[2017-06-01 19:40] MooonShot opened #262 "Bug Bounty"
Hello Team,

Target- https://www.tarsnap.com/

Type of Issue- Clickjacking

Description- Clickjacking, also known as a "UI redress attack", is when an attacker uses multiple transparent or opaque layers to trick a user into clicking on a button or link on another page when they were intending to click on the the top level page. Thus, the attacker is "hijacking" clicks meant for their page and rout

[2017-06-01 19:48] cperciva commented on #262
This is not a vulnerability.  If an attacker can do this, they can copy the entire tarsnap website HTML and put it on their site.

[2017-06-01 19:48] #262 closed

[2017-06-27 03:15] gperciva commented on #249
Hi @jungle-boogie, I believe that this was fixed in https://github.com/Tarsnap/tarsnap/pull/252.

[2017-06-27 16:41] jungle-boogie commented on #249
Hi @gperciva,

I don't know if this is related to that fix, or something new but I have this as a failure on freeBSD 11-release:
[code]

This is the failure on OpenBSD -current:
[code]

[2017-06-27 16:46] gperciva commented on #249
Hi @jungle-boogie: yikes, this was unfortunate timing!  My apologies.  The `assert()` problem arose from half a dozen unrelated PRs being merged late last night (fix in #265), and it appears that Linux is a bit more lax about includes than FreeBSD.

I suspect that OpenBSD has the same problem; the `wcspy()` message looks like a warning rather than an error.

Sorry about this.  Once the current rou

[2017-06-27 17:01] jungle-boogie commented on #249
Hi @gperciva,

That's not a problem at all. Thanks for the update!

[2017-07-02 15:20] gperciva commented on #206
We've now added a top-level `BUILDING` file (also pointed to from the `README.md`) that lists dependencies, and sample `apt-get` and `yum` commands to install them.

[2017-07-02 15:20] #206 closed

[2017-07-02 16:21] gperciva commented on #249
Hi @jungle-boogie,
I believe this is fixed in current git master 7f178c74513b5adfccda4be0f52c600da34733bc.  I've tested it on OpenBSD 64-bit (with libressl), and freebsd-i386 (no libressl).  Thanks for your patience!

[2017-07-02 21:11] jungle-boogie commented on #249
Hi @gperciva,

Yes, all better! Thanks for getting this resolved and tracking down the issues.

[2017-07-02 21:11] #249 closed

[2017-07-04 15:51] gperciva commented on #113
This was fixed in #219.

[2017-07-04 15:51] #113 closed

[2017-07-15 08:50] jkseppan opened #277 "tarsnap 1.0.38 crashes with an assertion failure"
[code]

This is on Ubuntu 14.04.5 LTS, Tarsnap 1.0.38 compiled from sources. Here is some of the stack trace from the core file:

[code]

It seems that the file whose name is a prefix of the `keybuf` value mentioned in the stacktrace has a date of "Jan  1  1970", along with a number of other files in the same directory (presumably because some file transfer tool has failed previously). Earlier run

[2017-07-15 13:15] gperciva commented on #277
Hi @jkseppan, is this a 32-bit system or 64-bit system?  I have a temporary fix available in #278, but I'd like to investigate further and address the underlying cause.

[2017-07-15 13:25] jkseppan commented on #277
This is a 64-bit virtual machine on DigitalOcean, uname -p says x86_64 and /proc/cpuinfo tells me it's an "Intel(R) Xeon(R) CPU E5-2630L v2 @ 2.40GHz".

[2017-07-15 13:42] jkseppan commented on #277
Indeed, `stat -c %Y $filename` prints -1 for this file.

[2017-07-15 17:24] cperciva commented on #277
On 07/15/17 01:50, Jouni K. Seppänen wrote:

To set your mind at ease: The archives should be fine.  This crash occurs
after tarsnap finishes creating the archive; it's writing out a cache which
it uses to speed up creating future archives, so the only impact of tarsnap
crashing at this point should be that the next archive creation will be
somewhat slower.

--
Colin Percival
Security Officer Emer

[2017-07-30 18:07] jkseppan commented on #277
The crash does not happen on 1.0.39. Indeed the archives seem to be fine even with 1.0.38.

[2017-07-30 19:11] cperciva commented on #277
Thanks for confirming!  I'll close this now.

[2017-07-30 19:11] #277 closed

[2017-08-18 17:48] gperciva opened #285 "list-archives without a cachedir"
Consider this sequence of events (arising while helping a user):
[code]

The `--cachedir` seems unnecessary.  I think we shouldn't require it for `--list-archives`.

[2017-08-18 20:45] gperciva commented on #285
Never mind; it already works that way.  I forgot I had a `/etc/tarsnap.conf`.

[2017-08-18 20:45] #285 closed

[2017-08-21 05:34] ilovezfs opened #286 "1.0.39 clock_gettime problem on OS X 10.11 with Xcode 8.x"
[code]

The test block runs
[code]

https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/6974/version=el_capitan/console
Duplicated here since that log will eventually be deleted: https://gist.github.com/ilovezfs/8ee666cbb4a5ec36e615771f423db925

I can work around this issue with the following silly hack:
[code]

The immediate problem here is that even though there are configure time chec

[2017-08-22 01:18] gperciva commented on #286
Interesting!  I spent a bit of time poking around, but no results yet.  I see that tarsnap compiles normally from git (and presumably from a tarball as well), so this is quite puzzling.

Note to self: to reproduce, you need to edit
[code]
to remove the replacement.

[2017-08-22 01:21] cperciva commented on #286
I believe clock_gettime is provided by librt; is there a library problem here?

[2017-08-22 01:29] ilovezfs commented on #286
clock_gettime(3) is found in libc (/usr/lib/system/libsystem_c.dylib) on macOS 10.12+. There's no seperate librt. It's not available on < 10.12.

To reproduce the issue outside of Homebrew on 10.11, set SDKROOT=/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs/MacOSX.sdk and MACOSX_DEPLOYMENT_TARGET=10.11

[2017-08-22 15:59] gperciva commented on #286
Right, this looks like a simple POSIX violation:

[code]

Attempt:
[code]

Even though `clock_realtime()` not an optional part of http://pubs.opengroup.org/onlinepubs/9699919799/basedefs/time.h.html

I'll come up with a fix.

[2017-08-22 16:08] ilovezfs commented on #286
On the bright side >= macOS 10.12 doesn't suffer from the same :face_with_head_bandage:

[2017-09-23 07:04] cperciva commented on #286
@ilovezfs Dumb question here, but on OS X 10.11, are we trying to link to librt?  Because if that's where clock_gettime is, we *should* be linking to it...

[2017-09-23 19:58] gperciva commented on #286
`clock_gettime` does not exist in `<time.h>` on OS X 10.11:
https://github.com/Tarsnap/tarsnap/issues/286#issuecomment-324072189

Recall that there's two issues happening here:
- native OSX 10.11 and earlier: no `clock_gettime()` at all.  (yes, this is a POSIX violation.  We didn't notice this earlier because it also didn't have `CLOCK_REALTIME`, so we never tried to use `clock_gettime`.  I still

[2017-10-09 20:48] defuse commented on #76
This led to some mildly-frustrating usability problems for me.

I'm using Tarsnap on two computers. The less-likely-to-be-hacked of the two has the entire key for the "machine" and other -- the one that's actually being backed up -- has a write-only key for the "machine." I accidentally backed up too much data and figured it'd be easiest to lower my monthly bill by `--nuke`ing everything and start

[2017-10-09 20:57] gperciva commented on #76
Hi @defuse,

Yes, it would be nice if we supported this case.

On a slightly related note, we updated our docs about running Tarsnap on multiple machines a few days ago, primarily to add the "copy cachedir around" idea.  I suspect that you might already know all this info, but just in case, it might be worth giving it a quick skim: http://www.tarsnap.com/multiple-machines.html

[2017-10-20 07:56] cperciva opened #294 "Teach --list-archives about --null"
We should make --list-archives respect --null, to avoid problems if people do silly things like putting newline characters into their archive names.

This is a backwards-compatible change in behaviour, because currently --null errors for --list-archives.

It's not clear how --null should interact with -v -v, so leave that as an error for now.  But --list-archives -v -null should print <archivename

[2017-11-18 22:47] gperciva commented on #286
This was fixed in #290, but the fix doesn't exist in a tarball release yet.

[2017-11-18 22:47] #286 closed

[2017-11-18 22:56] gperciva commented on #242
Our page about running Tarsnap on multiple machines with the same key has been updated to clarify this situation: http://www.tarsnap.com/multiple-machines.html
Please let me know if the rewrite isn't clear.

[2017-11-18 22:56] #242 closed

[2017-12-29 16:42] FJdeKermadec opened #300 "Flag formatting in the man pages"
I was running a few quick searches on the `man` pages today and noticed that flags are referenced both with and without the preceding dash. For example, the text reads “`In -t or -x mode`,” but goes on to say “`c and x modes only`“.

This is a detail, and a minor one at that, but I feel it would be easier to search the man pages if all flags were always quoted with the preceding dash.

[2018-01-17 18:44] TheMRod opened #301 "404 when downloading 2018 GPG key"
Visiting https://www.tarsnap.com/tarsnap-signing-key-2018.asc results in a 404 for me.

[2018-01-17 21:19] cperciva commented on #301
Sorry about that!  Somehow we forgot to update the Makefile to install the new file...

Fixed now!

[2018-01-17 21:19] #301 closed

[2018-02-16 02:47] chamalsl opened #304 "Tarsnap web site mentions Windows Subsystem for Linux as beta"
Tarsnap web site mentions Windows Subsystem for Linux as beta in below mentioned URLs.
1. https://www.tarsnap.com/download.html#windows
2. https://www.tarsnap.com/gettingstarted.html

Word "beta" should be removed since Windows Subsystem for Linux is no longer in beta.

[2018-02-20 18:04] gperciva commented on #304
Thanks for the report!  Yes, this change is coming.  Also, the WSL download info will mention the SUSE and openSUSE userland as well as Ubuntu (https://blogs.msdn.microsoft.com/commandline/2017/07/19/suses-linux-distros-for-wsl-now-available-in-the-windows-store/).

[2018-03-16 07:17] zatricky commented on #112
I see isatty() is used elsewhere in the project. Not uncommon to use that to decide whether or not to print something useful.

[2018-03-16 20:25] cperciva commented on #112
On 03/16/18 00:17, Brendan wrote:

Hmm, that's an idea.  We'd need to be careful though -- using isatty that way
would risk severe confusion when people see output at the console and then
can't figure out why it isn't showing up when they pipe tarsnap's output to
another process...

Colin Percival

[2018-03-31 05:14] gperciva commented on #304
Fixed

[2018-03-31 05:14] #304 closed

[2018-05-26 20:34] gperciva commented on #294
What do you mean by

tarsnap-gui currently does `--list-archives -vv`, so leaving that as an error won't help.

My first thought that `-v -v --null` should simply print a `\0` instead of each `\t` or `\n` that we're currently printing.  Admittedly this means parsing the output would require knowing whether you called `--list-archives` with 0, 1, or 2 `v`s, but I think that's an acceptable requirem

[2018-05-27 00:00] cperciva commented on #294
The problem with `-vv` is that it's printing a command line.  The whole point of `--null` is that it makes things unambiguous; but `tarsnap --list-archives -vv` will print the same output for an archive created by `tarsnap -c -f foo a b c` as it does for an archive created by `tarsnap -c -f foo "a b c"`.

[2018-07-16 12:16] mspacex opened #314 "Add --passphrase and/or --passphrase-file options to -keygen/-rekeygen"
It is normally very insecure to have passwords listed in cleartext on the command line, but when automating key generation from puppet/chef/etc, having to use expect and tricking stdin is definitely not preferable.

A compromise to having it available but not directly on the command line is to use --passphrase-file in order to read the account password from a file rather than having on the command

[2018-07-18 12:59] mspacex commented on #314
After looking at the code, it looks like it might be possible to pipe the password in via stdin, rather than the password prompt requiring it to be typed. I am going to verify this before dropping the branch I started, but would it be better to have this functionality documented somewhere?

[2018-07-18 16:48] gperciva commented on #314
Hmm, right.  Two years ago we added this to scrypt:
https://github.com/Tarsnap/scrypt/pull/34
https://github.com/Tarsnap/scrypt/pull/41

and that change migrated to tarsnap via libcperciva.  I think that we were waiting for the scrypt changes to be released and tested a bit more before "advertizing" this in tarsnap.

Please leave this issue open, and I'll come back to it in a few weeks once I've c

[2018-07-19 22:47] mspacex commented on #314
will do, thanks!

[2018-08-31 02:01] gperciva opened #319 "libressl 2.7 adds openbsd 1.1 API"
LibreSSL 2.7.0 (2018-03-21) adds the openssl 1.1 API:
https://ftp.openbsd.org/pub/OpenBSD/LibreSSL/libressl-2.7.0-relnotes.txt

This required a bunch of programs to update their `OPENSSL_VERSION_NUMBER` handling, such as libarchive:
https://bugs.freebsd.org/bugzilla/show_bug.cgi?id=226853

As far as I know, libressl still supports the OpenSSL 1.0.1 API, so we don't need to change anything yet.  Bu

[2018-09-12 01:02] cperciva opened #323 "Point users at installation instructions in README?"
Right now we say "We strongly recommend that people use the latest official release tarball on https://www.tarsnap.com".  It would probably be more useful if we point people at the installation instructions at https://www.tarsnap.com/download.html so that they're aware of how tarsnap is available via packaging systems (aka. without manually building from source).

[2018-09-19 16:15] pushcx opened #328 "zero exit code when tarsnap fails due to negative balance"
[code]

I deliberately let the account balance run to negative because I wanted to see our [backup cron job fail](https://github.com/lobsters/lobsters-ansible/issues/36), and it didn't fail because tarsnap exited with a 0 code indicating success.

Could tarsnap please report the error condition with a non-zero exit code? Thanks!

[2018-09-19 16:56] gperciva commented on #328
What version and OS are you using?  I'm having difficulty reproducing this.

[2018-09-19 17:09] gperciva commented on #328
Is it possible that your `tarsnap` is a wrapper shell script?  Please run:
[code]

I'm really puzzled by this. If you see "Error exit delayed", then you're at the end of `int main()` in `bsdtar.c`:
[code]
https://github.com/Tarsnap/tarsnap/blob/master/tar/bsdtar.c#L1194
(and those lines haven't been changed since 41f175d, which is tarsnap 1.0.0!

My understanding is that `int main()` will be retur

[2018-09-19 17:28] pushcx commented on #328
Sorry, I should've thought to include this in the intial report. We're running Ubuntu 16.04.5 LTS. Our `tarsnap --version` reports `tarsnap 1.0.39`, `which tarsnap` points to `/usr/bin/tarsnap`, and it was installed from `http://pkg.tarsnap.com/deb/xenial". You can see [our script here](https://github.com/lobsters/lobsters-ansible/blob/master/roles/tarsnap/files/backup-cron) and the other related

[2018-09-20 20:51] gperciva commented on #328
I must admit that I'm still completely baffled.  Theoretically, if `bsdtar->return_value` is 256, it could result in the behaviour you see.  But if you see "`Error listing archives`" then the very next line is `bsdtar->return_value = 1;`
https://github.com/Tarsnap/tarsnap/blob/master/tar/glue/tape.c#L196
and then it returns to `int main()` and very soon reaches the end.

Sorry to ask this, but cou

[2018-09-26 13:05] pushcx commented on #328
So, I have to tweak this command to include the full path `/etc/tasrnap.conf`, but the output is:

[code]

This is a production app server. As part of worst-case-scenario planning, I only gave it the write key so that an attacker who takes over the box can't wipe the backups.

[2018-09-26 17:19] gperciva commented on #328
Thanks for running the command!  It looks like the error message is good, and it produces a non-zero exit code.  So I think this issue can be closed.  If you have more info, please don't hesitate to write again.

[2018-09-26 18:42] pushcx commented on #328
I think it's succeeding because I funded the account, not because an underlying issue was addressed. As nothing else has changed, what will prevent it from failing with a zero exit code in a few months when the balance runs down again?

[2018-09-26 22:51] gperciva commented on #328
I thought of something else to try, which I can do tomorrow.

[2018-09-28 14:14] scotchi opened #329 "Tarsnap fails at extracting filenames with brackets"
If you create an archive with files with brackets in it, you can't extract them by name unless you escape them ... even when bypassing the shell.

e.g.

    $ mkdir foo
    $ touch 'foo/bar[baz]quux'
    $ sudo tarsnap -c -f example foo/
                                          Total size  Compressed size
    All archives                        2207166128045     591061010434
      (unique data)

[2018-09-28 16:46] gperciva commented on #329
Hmm.  This is a difference in behaviour between GNU tar and BSD tar:

[code]

I can't see any issues for "brackets" or "squares" in the libarchive project (even in closed issues and PRs), so apparently this has never come up before?  I'll continue to look into libarchive to see if it's feasible to add it there.

[2018-09-28 16:51] scotchi commented on #329
What I found interesting (and weird) is that it works if it's escaped ... but I can't imagine what the logic is for escaping things when there's no shell expansion.  Does libarchive itself do some kind of wildcard expansion?

[2018-09-28 16:56] cperciva commented on #329
I believe that we do shell globbing when matching files to extract from an archive.

[2018-09-28 17:05] gperciva commented on #329
After editing `tar/matching.c`:

[code]

[2018-09-28 17:06] gperciva commented on #329
(err, `./tarsnap` went on to give the usual errors related to this, as well as the results of other `printf()` command.  I edited those out)

[2018-09-28 17:11] gperciva commented on #329
Yeah, it's all about `fnmatch`.  Consider this:

[code]

and then:
[code]

[2018-09-28 17:13] scotchi commented on #329
Which I guess then leaves the question:  should users be expected to escape globbing chars on the way in?  (Or perhaps should there be a command line switch which turns them off?)

[2018-09-28 17:16] gperciva commented on #329
well, GNUtar behaves differently.  I'm looking up whether they still use fnmatch and escape the `[]` themselves, or use a different function.

[2018-09-28 17:32] gperciva commented on #329
ok, they wrote their own `fnmatch.c`.  I don't think we want to go that route.

Unless @cperciva says otherwise, I think the thing to do here is improve our man-page so that users can find out that the include and exclude patterns have some special characters (and that the extra pathnames for `-t` and `-x` are treated the same as `--include`).

[2018-09-28 22:51] scotchi commented on #329
I have gone ahead and worked around this in redsnapper:

https://github.com/directededge/redsnapper/commit/cdc6d37b735dca6fc8394fa7f8ed2c0c53cfefb5

[2018-09-29 14:02] pushcx commented on #328
That's really strange. I've checked my `history` and see `/usr/bin/tarsnap --configfile tarsnap.conf --list-archives ; echo $?` as a single line. But what's odd is that I *don't* see myself running `cd /etc` first; I can only be in `/root` after the `sudo`. There is no copy of `tarsnap.conf` in `/root`; a `find` confirms that the only copy of the file is `/etc/tarsnap.conf`. When I run that now, I

[2018-09-29 14:03] #328 closed

[2018-10-03 21:59] gperciva commented on #329
Hi @scotchi.

Thanks for the report!  We now mention `[]` explicitly in the man-page, so I think we can close this issue.

[2018-10-03 21:59] #329 closed

[2018-10-03 21:59] gperciva commented on #323
Done.

[2018-10-03 21:59] #323 closed

[2018-11-06 00:09] cemeyer commented on #258
Me too, although I disagree with the misleading error message being reasonable.

https://github.com/Tarsnap/tarsnap/blob/master/lib/keyfile/keyfile.c#L300

[2018-11-06 00:36] gperciva commented on #258
@cemeyer: Doesn't "truncated" accurately describe a file that's missing the final character?  I suppose you could call it "slightly truncated" instead, but either way the file is shorter than expected.

I'd consider writing a check to warn specifically about a missing final `\n`, but what's the use case?  I mean, how does one lose the final `\n` in a benign manner?  Does it occur via minor disk co

[2018-11-06 00:43] cemeyer commented on #258
@gperciva The "truncation" characterization is only accurate if you believe that the final piece of whitespace, after the ASCII trailer, is a quintessential piece of cryptographic key file material.  And "corrupt" is inaccurate.

Regardless, the error message is unhelpful as-is.  The print could simply add the text "missing newline at end of file."  Or just handle the missing newline gracefully wi

[2018-11-06 01:14] gperciva commented on #258
Hmm.  I see what you mean about copying from a graphical application.

For clarity, `xclip` works by itself:
[code]

but this does not:
[code]

(**WARNING** for anybody reading this: don't try this with your real keys unless you're certain that your clipboard cannot be read by any untrusted software.)

As for being accurete in "an extremely literal sense"... yes, a comment line in the Tarsnap key

[2018-11-06 04:04] cemeyer commented on #258
Right.

A loose BNF-ish in a comment in the source code isn't exactly a user-facing specification.  I.e., nothing in the published documentation could help me determine why tarsnap was producing the error message.  I had to dig into the source because (1) the documentation is lacking and (2) the error messages are devoid of information.  I really don't see how permitting no trailing newline makes

[2018-11-06 16:46] cemeyer opened #333 "Backup-restore throughput is awful"
I have a gigabit internet connection, a fast multi-core CPU, and a fast local NVMe disk.

Yet `tarsnap -rf xxx | pv | tar -xf -` shows tarsnap is only able to download around 50 kB/s.  What gives?  At this rate it'll take 6 days to download a 26 GB backup set.

[2018-11-06 22:19] gperciva commented on #258
I've sketched two PRs: warn specifically about a missing newline, or accept it.  @cperciva can think about it.

[2018-11-07 00:18] cemeyer commented on #333
Thanks, the context helps a little.  It's unfortunate the throughput is so limited.

I've gone ahead and forked the `redsnapper` tool to remove the dependency on a rubygem that isn't in FreeBSD ("thread").  It seems to be parallelizing successfully, although it uses some awful O(N² log N) algorithm to balance files across workers, which took quite a long time to run between the `-tf` and `-xf` por

[2018-11-07 04:41] cemeyer opened #336 "siginfo_init should maybe set SA_RESTART flag on sigaction (EINTR)"
`sigaction()` in `siginfo_init()` sets `sa_flags = 0`.  The `SA_RESTART` flag has the nice property of resuming some typical system calls without returning `-1 / errno=EINTR` to the application.

Alternatively, tarsnap should handle EINTR gracefully.  I see some checks for EINTR in the source code.
 But it does not appear to be consistently handled gracefully:

[code]

(Given this is EINTR and not

[2018-11-07 05:52] cperciva commented on #336
What's your command line, what OS are you running on, and what are you doing to trigger a signal?  It seems like `fread` should handle EINTR by itself.

[2018-11-07 06:16] cemeyer commented on #336
1. `tarsnap -xpkf XXX --null -T -` with a extract list provided via stdin (modified `redsnapper`)
2. FreeBSD 13-CURRENT as of this week.
3. ^T (SIGINFO)
4. I agree — it seems odd that `fread(3)` would not be handling the EINTR.

[2018-11-07 06:20] cemeyer commented on #336
Re: fread, it can be blamed on lib/libc/stdio/refill.c:

[code]

(`_sread` does not appear to do anything magic like re-start EINTR operations.)

[2018-11-07 07:56] cemeyer commented on #333
Sent my redsnapper changes upstream in case they're helpful to others: https://github.com/directededge/redsnapper/pulls .  I suggest `--jobs 1000` if you've got the RAM and ulimit for it.

[2018-11-08 00:20] cperciva commented on #333
I don't think `--jobs 1000` is what you want -- because the Tarsnap service won't (currently) allow you to have that many connections open at once.  I don't recommend going past `--jobs 100`.

[2018-11-08 00:39] cemeyer commented on #333
Well, I'd appreciate it if you'd solve the restore performance problem in the `tarsnap` client itself, but failing that, please get out of the way and lift the arbitrary connections restriction.

[2018-11-17 04:18] cemeyer commented on #336
FWIW, POSIX 2017 specifically calls out `EINTR` as a valid error for `fgetc(3)`, and by extension, `fread(3)`.  And e.g. musl libc does not do any special handling of EINTR either.  It seems that stdio `FILE`-using programs need to be `EINTR`-aware in the same ways that programs using bare syscalls do.

[2018-12-26 21:20] cemeyer commented on #258
Fixed in #334, thanks!

[2019-01-16 02:40] pushcx commented on #328
It ran down to negative again and I can't reproduce the reported behavior. I tried all the invocations of tarsnap mentioned above and a few more, and I always got exit code 1. Still scratching my head *what* I did, but now pretty high confidence this was just some kind of user error. Thanks again for looking into this with me.

[2019-02-04 19:55] gperciva commented on #294
but as far as the tarsnap binary is concerned, there's no such thing as `"a b c"`, because that's interpreted by the shell:

[code]

The "Command-line" output is printing the raw contents of `argv[]`.  We can force double quotes into the command-line by doing:

[code]

but that will be looking for a filename which contains double quotes.

I wonder if we should tackle this a different way:
- print

[2019-02-04 21:20] gperciva commented on #294
Nice discussion about special characters in filenames by David A. Wheeler: https://dwheeler.com/essays/fixing-unix-linux-filenames.html

(probably nothing new there for @cperciva, but I'm adding here as a reminder for myself)

[2019-02-04 21:42] gperciva commented on #294
I think there's a few different issues mingling here, and it's not clear to me which one(s) we want to solve:

- can we get the GUI to support newlines in archive names?
- are there any limitations of Tarsnap archive names, other than "not NUL" ?  like, is it vitally important that we support 0x07 `BEL` and 0x08 `BS` inside archive names?
- can we print the archive's `argv[]` to the command-line i

[2019-02-04 21:51] gperciva commented on #294
BTW, if anybody relies on `BEL` in Tarsnap archive names to keep children warm in winter, they win 100 Internet points.

[2019-02-04 21:54] cperciva commented on #294
If you run
[code]
then tarsnap will create an archive containing the files `a`, `b`, and `c`.  If you run
[code]
then tarsnap will create an archive containing the single file `a b c`.

The point of `--null` is to remove ambiguity, so there's no point applying it to `--list-archives -vv` unless we also remove this ambiguity.

[2019-02-04 21:55] cperciva commented on #294
It's useful for users -- at least if they're creating archives by hand.  I've personally used it when I couldn't remember which directories I had archived.

[2019-02-04 21:56] gperciva commented on #294
Yes, I get that.  But there's no way for the binary to distinguish between
[code]
and
[code]

so AFAIK the recorded command-line cannot be guaranteed to match the given command-line.

[2019-02-04 21:57] cperciva commented on #294
Right.  I'm just saying that there's no point making `--null` apply to the command lines unless we distinguish those from the "three separate files" case.

[2019-02-04 22:00] gperciva commented on #294
Right.  I'm just saying that there's no point making `--null` do anything if the GUI uses `--list-archives -vv` and it doesn't apply to that.  :)

(I'm now wondering if the GUI should do `-v` instead)

[2019-02-04 22:01] cperciva commented on #294
Hmm, I didn't realize the GUI was using `-vv`.

[2019-02-04 22:02] gperciva commented on #294
Yeah, and I'm not really certain why.  I mean, sure, that gives it the command-lines... but it has a ton of options.  I mean, look at this:

[code]

One of those archives is much less informative than the others!

[2019-02-04 22:03] gperciva commented on #294
(err, I'm arguing that by including so many details, it's harder for humans to see the important bits.  So it's less informative because there's too much information.)

[2019-02-05 00:04] #258 closed

[2019-05-02 17:40] jcs opened #351 "Clarification around redistribution terms"
I realize the license can't be changed to a completely free one (#66) but can the redistribution terms be modified to make it easier to distribute unmodified binary packages?

That means (or at least could be interpreted) that any distribution of a compiled binary, even built from unmodified source code, has to be done with the sole purpose of using the Tarsnap service.  A project like OpenBSD (or

[2019-05-10 04:42] cperciva commented on #351
I'm not entirely sure I see the problem.  I'd assume that OpenBSD would like to distribute Tarsnap packages so that people can use Tarsnap, and the motives that someone might have in downloading the packages are irrelevant to whether OpenBSD can distribute them.

[2019-05-10 05:23] gperciva commented on #351
One could argue that the "motives" are precisely what makes the client legal to distribute (or not).  I mean, if I download the source code for the purpose of grepping for swear words, that's technically not supported the license.  But who's liable for that?  The downloader, server, or both?

I agree that it would be silly for OpenBSD to require users to send a signed affidavit, certifying that th

[2019-05-10 16:00] jcs commented on #351
Probably the person that put it on the server (and perhaps everyone that runs a server that mirrored from that person) because they made it available for redistribution whether or not anyone actually downloads it.  But I can't say for certain, and it's not clear from the license text, so that's what we have to go by to determine whether we (and anyone else that builds packages from OpenBSD's ports

[2019-06-27 07:50] cperciva opened #360 "Turn off "Can't translate ... to UTF-8" warnings"
Libarchive, at https://github.com/Tarsnap/tarsnap/blob/master/libarchive/archive_write_set_format_pax.c#L489 and following, checks if paths and user/group names can be converted; if not, they're stored raw using the hdrcharset="BINARY" option.

Libarchive prints warnings when it does this, but these warnings are annoying and pointless since we're never going to extract with a tool which doesn't un

[2019-07-07 14:04] login000 opened #362 "bug bounty"
Cosmetic error on the Tarsnap website:
On the page https://www.tarsnap.com/kivaloo.html, "thus there is no need to for separate periodic "compaction" to be performed" should say "thus there is no need for separate periodic "compaction" to be performed".

[2019-07-07 15:27] gperciva commented on #362
Thanks!  If you haven't already done so, please send your email address to Colin so you can get account credit for this.

[2019-07-07 17:26] login000 commented on #362
@cperciva I'd like the account credit to be sent to Ben's (github.com/benharri) Tarsnap account. I don't know the email address they use with Tarsnap, though.

[2019-07-08 04:42] login000 commented on #362
I've found the right email address. the name of the mailbox is "ben", and the domain is at "tilde.team" (cc @cperciva). Should I have sent the email address via email?

[2019-07-08 05:13] login000 commented on #362
Another cosmetic error on the Tarsnap website:
On the page https://www.tarsnap.com/crypto.html, "A 256-bit HMAC-SHA256 key used to protect each individual block of data from tampering." should say "A 256-bit HMAC-SHA256 key is used to protect each individual block of data from tampering."
I would like the account credit to be sent to ben at tilde.team.

[2019-07-08 16:51] gperciva commented on #362
I'd normally send an address by email, but it's fine.  A quick google search shows that the address is used in full in many places on the web, so it's not a spam risk for him.

[2019-07-12 09:17] cperciva commented on #362
I've paid the $1 bounty.  @gperciva Can you please add this to the bug bounty table (as "anonymous", unless @login000 wants to give us a name)?

[2019-07-12 14:05] login000 commented on #362
Anonymous would be fine :)

[2019-07-15 18:05] gperciva commented on #362
Thanks for the report.  Your bounty is accounted at the bottom of http://www.tarsnap.com/bounty-winners.html now.  :)

[2019-07-15 18:05] #362 closed

[2019-09-10 17:23] yazinsai opened #366 "tarsnap: Pathname in pax header can't be converted to current locale."
When I try to restore a file that I had previously backed up on Ubuntu 16.04 (running on Windows Subsystem for Linux) on my mac, I get the following error:

The command I'm running is:

[code]

--
System Version:	macOS 10.14.6 (18G95)
Kernel Version:	Darwin 18.7.0

[2019-09-10 18:15] gperciva commented on #366
If you run
[code]

what do you see?  (My first guess is that your current locale doesn't support UTF-8, so the solution would be to add that.  But let's see what your system says first.)

[2019-09-10 18:19] yazinsai commented on #366
Thanks for the quick response, output below:

[code]

[2019-09-10 18:30] gperciva commented on #366
Huh.  Do you remember what locale you used in Ubuntu (or what language)?  For example, what it set to `ar_BH`?

I'm still looking into this.  For the record, tarsnap uses `libarchive` (which is also used by `bsdtar` or FreeBSD's `tar`), so solutions to "bsdtar Pathname in pax header" would plausibly be a solution to this.

[2019-09-10 18:34] gperciva commented on #366
Oh, one more thing to try:

[code]

(or maybe with `sudo`, and maybe after checking `/etc/locale.gen`)

I'd hope that OSX would have run that automatically during installation / upgrade, but you never know...

[2019-09-10 19:46] yazinsai commented on #366
I was able to run `locale` on Ubuntu:

[code]

Back on my Mac, I tried running `locale-gen` but the command doesn't exist. `sudo` doesn't change things, and `/etc/locale.gen` doesn't exist either.

[2019-09-10 22:01] gperciva commented on #366
Next idea: download the archive, then investigate with other tar tools.

I made an archive called `kana` (which contains a file with some Japanese characters), so substitute that for your own archive name.  Then try:

[code]

I expect the `tar -tf foo.tar` line to fail with the "Pathnames" error, but the earlier lines should work.  If by any chance it does work, please don't feel that you should p

[2019-09-11 07:47] yazinsai commented on #366
Strange, I tried restoring the file this morning after shutting down and restarting my machine, and it worked 🤔

I suspect I know the cause of the issue. I had previously set `LC_CTYPE=C` in my `.bash_profile` to resolve a separate issue I had with getting the `tr -cd` command to work on my Mac. I had set this generally (i.e. `LC_CTYPE=C`) and then later modified it to run only on the relevant com

[2019-09-11 16:35] gperciva commented on #366
Thanks for letting me know, and I'm relieved that you can access your files!  :)   I was starting to think of really far-fetched possibilities.

For the record, I can somewhat reproduce this problem on Linux:
[code]

I appear to have all the data, but it definitely gave me a scary error message.

@yazinsai: if you try it again with `LANG=C`, do you also get the data despite the message?

I'll thin

[2019-09-11 22:23] gperciva commented on #366
Technical notes (mainly for myself) that might be useful at some point:
- libarchive 2 has some known bugs about character sets, and libarchive 3 has a very different approach (including having a "default character set for the archive"): https://github.com/libarchive/libarchive/wiki/Libarchive3#Character_Set_Handling
- this change was made to `libarchive/archive_read_support_format_tar.c` in https

[2019-10-16 03:40] ralish opened #370 "Misleading tarsnap error on negative account balance"
Assume the Tarsnap account associated with a given key has a negative balance. When attempting to perform operations against the account the following error is seen:
[code]

While a negative balance of course means Tarsnap should not be expected to work, the above error is extremely misleading. The [documentation on the error](https://www.tarsnap.com/network.html) also further reinforces this. In

[2019-10-16 03:52] jungle-boogie commented on #370
Hi,

See issue https://github.com/Tarsnap/tarsnap/issues/328

This was testing the exit code, but you'll notice the output message indicated what exactly to check. Must be an edge case that hasn't been checked for account balance before.

[2019-10-16 03:58] ralish commented on #370
@jungle-boogie: Yeah, that sounds plausible. The output above is the entire total output but the exit code was non-zero (as it should be).

[2019-10-16 06:45] cperciva commented on #370
Wow, this is odd and definitely something we should fix.  @gperciva can you reproduce this in your test environment?

[2019-10-16 20:26] gperciva commented on #370
Confirmed:

[code]

Server log shows `tarsnap-server: Disallowing transaction start due to ENOMONEY`, so the problem is definitely in the client.  Fix incoming.

[2020-03-12 04:49] 0xkag opened #377 "lseek (_llseek) issue introduced in 1f56dc7c35b, possibly only on Linux i686"
I've been running `1.0.39`, which I compiled, fine for quite some time.  I recently attempted to run master HEAD (473fd485e68) on 32-bit Linux.  When doing this, I get a 100% reproducible error that makes tarsnap non-functional.  It's not a "crash", but it exits with:

[code]

Where that file referenced as the `lseek()` argument happens to always be hit first on my system.  I don't believe it's an

[2020-03-12 05:59] gperciva commented on #377
Thanks for the report, and especially for all the `git bisect` work!  I'm installing a 32-bit distro so that I can reproduce this.

I see that your Linux kernel is relatively recent (5.4.10), although I'm guessing that linode installed that automatically.  Could I ask what distro you're running?  It might be useful for me to look up which version of glibc it comes with.

[2020-03-12 06:02] cperciva commented on #377
@0xkag Can you check whether this error goes away if you delete the "cache" file in the tarsnap cache directory?  (To be clear: Keep the "directory" file.)

My suspicion is that this is happening when the chunkification cache says "skip past the end of the chunks we have cached".

[2020-03-12 19:00] gperciva commented on #377
Thanks again, @0xkag.  I've discovered (another?) problem with i386, at least on Ubuntu 14.04 "trusty".  I'll get back to you when I've finished investigating i386 on various distros.

[2020-03-12 19:53] gperciva commented on #377
I have a fix for this issue, and the other one I discovered (with `--list-archives`); add

[code]
to the top of `tar/glue/tape.c` and `tar/ccache/ccache_entry.c`.

However, I'm not certain that's the best fix; I'm currently investigating exactly where the problems arose[1] and looking for other cases.  I might find a better option.

[1] in the case of `lseek`, the problem is probably that `_FILE_O

[2020-03-13 03:38] 0xkag commented on #377
Hi @gperciva,

Yes, the kernel is Linode's 32-bit latest, and changes to whatever latest is each reboot.  Last reboot 26 days ago.

[code]

[2020-03-13 03:46] 0xkag commented on #377
Hi @cperciva,

Still happens:

[code]

[2020-03-13 04:05] 0xkag commented on #377
When I apply this diff:

[code]

It runs for a while, appears to do something, and then segfaults.  I wasn't yet able to capture a core.

[2020-03-13 04:30] 0xkag commented on #377
Here's a backtrace.  I've removed a few personalized paths.

[code]

[2020-03-13 05:31] gperciva commented on #377
@0xkag oops, sorry.  I only checked my fix for `--list-archives`, and I just assumed it would work with `-c` as well.  My apologies.

I've been digging into this, and it's trickier than I thought at first.  Please switch back to 1.0.39, and I'll update this issue when I have a definite, well-tested, well-reasoned fix.

(I'm seeing these problems as well, on both Ubuntu trusty 14.04 and Debian 10.3

[2020-07-29 03:54] cperciva commented on #377
@gperciva This is fixed now, right?

[2020-07-29 04:03] gperciva commented on #377
Yes, in #380.

[2020-07-29 04:03] #377 closed

[2020-08-03 04:17] gperciva commented on #370
This was fixed in #371.

[2020-08-03 04:17] #370 closed

[2020-08-03 19:17] gperciva opened #424 "Workaround for Windows Subsystem for Linux bug with link()"
On WSL, one user reported that they could not create an archive due to:

    tarsnap: link(/root/tarsnap-cache/directory.tmp, /root/tarsnap-cache/directory): Permission denied

As I wrote in http://mail.tarsnap.com/tarsnap-users/msg01601.html, I believe that this is due to a known WSL issue https://github.com/microsoft/WSL/issues/3972 which was marked as fixed 2020-06-02, but that fix is currently

[2020-12-14 00:04] thijsvandien opened #450 "Add support for .gitignore files"
I'm using Tarsnap to backup my projects, and it would be really nice if it would respect `.gitignore` files. That way I won't need to constantly add excludes to the same extent, or waste space. While I suppose I could write a bunch of shell code to find all my `.gitignore` files, prepend their paths to their respective patterns and then hand all those to Tarsnap, perhaps git is now common enough t

[2020-12-14 00:31] gperciva commented on #450
Interesting idea!  I'll look into what exactly ripgrep does.  The most difficult part of `.gitignore` is that if you've already added a file to git and then ignored it in `.gitignore`, the relevant part of `.gitignore` is ignored.  (i.e. git still tracks changes in that file.)  So if we think that we should ignore a certain file based on a regex, we'd still need to check whether git is actually ig

[2020-12-16 18:37] mhoran commented on #86
I had a backup run fail last night because of this. Surprisingly this was the first time I've seen this failure over many years of using Tarsnap. While this still doesn't seem urgent, is there any news here?

[2020-12-16 23:58] cperciva commented on #86
@mhoran What exactly do you mean by "had a backup run fail"?  This triggers a warning and non-zero exit from tarsnap but it isn't a fatal error, i.e. it won't stop tarsnap from creating an archive.

... unless something else broke as well?

[2020-12-17 00:04] mhoran commented on #86
Ah, OK! I saw the message and presumed that it was an error (it looked nearly exactly like your example.) Seeing that there was an "error" I figured the backup script had bailed but didn't capture the exit code. It does look like the backup completed (based on archive size) so I guess this is fine, just misleading. Sorry for the noise!

[2020-12-17 00:26] gperciva commented on #86
Hmm,
[code]
and a non-zero exit code looks awfully like a fatal error.

Maybe it would help if we added some kind of
[code]

(That's probably too wordy, but something along those lines could avoid some unnecessary angst.  And since we're writing backup software for the truly paranoid, we should expect users to angst easily!)

[2020-12-17 14:02] mhoran commented on #86
I can confirm that tarsnap did exit non-zero as my script first creates an archive and then deletes archives > 7 days old. The script bailed before deleting old archives, so tarsnap must have exited non-zero. Ideally in this scenario that wouldn't happen. I do only want to delete old archives if a new archive succeeded, but in this case it succeeded but indicated failure due to the race condition.

[2021-01-08 17:57] jrnewton commented on #333
Any update about whether this issue will be addressed in tarsnap?

[2021-01-08 19:08] gperciva commented on #333
At the moment we can't provide an estimated time of completion, sorry.

[2021-01-10 13:40] WesleyAC opened #460 "escaping bug/typo in tarsnap(1) manpage"
I noticed today that `man tarsnap` reads:

       Upon receipt of the SIGQUIT signal or ua Q, or if the bandwidth limit
       specified via a --maxbw option is reached, tarsnap will interrupt the
       creation of an archive and truncate it at the current position.

From looking at the source, it seems like this is an escaping bug, and `ua Q` should read `^Q`. I see this in my local copy and als

[2021-01-10 19:59] gperciva commented on #460
Thanks for the report!  I believe that this was fixed in 1ac0b67b264993b0844b284c5830131d791c0134, but that was after the latest official release (version 1.0.39).

[2021-01-11 13:24] #460 closed

[2021-02-14 13:38] remicorniere opened #468 "Machine name doesn't work with accents ?"
Hello !
I came across a weird bug it seems. I tried to generate a key with the following command:
[code]
And I got this:
[code]
which I eventually killed.
I tried pinging the server with this, and it worked:
[code]

Then I tried simply changing the machine name to:
[code]

and it worked.
Is it possible that the machine name cannot have accents (UTF-8 chars, more widely) ? Sorry if it's in the docs

[2021-02-14 18:34] gperciva commented on #468
Bonjour @remicorniere,

My first guess is machine names must be ASCII, but I'm investigating.  (If that's the case, then we should at least give a warning.)

[2021-02-14 18:56] gperciva commented on #468
Yes, the machine name must contain only "printable" characters, as checked by https://en.cppreference.com/w/c/string/byte/isprint.  Unfortunately that function's behaviour varies by locale, but I'm 95% confident that we're using the "C" locale (I'm still investigating).  So yes, you can only use typical ASCII characters.

I should definitely add this to our docs, as well as adding a sanity check i

[2021-02-14 18:58] cperciva commented on #468
Yes, right now it's limited to printable 7-bit ASCII characters.  We should probably change that, but I don't know if all of the code which handles machine names is able to safely handle UTF-8... I'll keep this in mind the next time I revisit that code.  In the mean time, as @gperciva says, we should just document and error out in the utility rather than sending a request which the server will rej

[2021-02-14 19:50] remicorniere commented on #468
Thanks for the replies, and thanks for tarsnap ! :)

[2021-02-21 18:36] 0xkag opened #473 "master fails to build on old gcc (below version 9)"
Perhaps this is intentional?  But in any case, `master` at d067c043d01e doesn't build on i686.  It fails with the following error:

[code]

I did not bother bisecting to determine when it was introduced.

[2021-02-21 18:40] 0xkag commented on #473
A quick git blame shows changes in c0046fa6 and 27837300 on these lines made on 2021-01-19 by @gperciva.

[2021-02-21 18:43] gperciva commented on #473
Huh, that shouldn't be enabled unless your CPU supports AESNI.  Could you please paste the contents of your `cpusupport-config.h`?  It should be in the main build directory (probably the top level of the source tree).

[2021-02-21 18:45] gperciva commented on #473
Never mind, I've reproduce it inside virtualbox.  I'll have a fix soon.

[2021-02-21 19:21] gperciva commented on #473
Looks like a compiler thing:
- gcc: `_mm_loadu_si64` missing https://gcc.gnu.org/bugzilla/show_bug.cgi?id=78782.  It was added to master in 2019-03-08, for gcc-9.
- clang: [X86] add `_mm_loadu_si64` https://reviews.llvm.org/D21504.  That was 2016-06-19.

On my debian buster system, it works with clang-6 and clang-7 (the available version of clang), but not an version of gcc that's in the default p

[2021-02-21 19:25] gperciva commented on #473
Ah, on that note, for the curious: I can reproduce this on modern freebsd amd64, via
[code]

[2021-02-24 01:32] gperciva commented on #473
I believe that this was fixed in #474.

[2021-03-03 17:20] dregad opened #475 "apt-key is deprecated - update installation instructions"
Greetings,

Your [installation instructions](https://www.tarsnap.com/pkg-deb.html#initial-setup) for Ubuntu/Debian should be updated, considering that **`apt-key` is deprecated** starting with Ubuntu 20.10 [[1]], and will only be available until Debian 11 and Ubuntu 22.04.

The key should be added to `/usr/share/keyrings` instead, and the *tarsnap.list* source created with the `signed-by` option [

[2021-03-03 18:37] gperciva commented on #475
Thanks for the links, @dregad!  I'll start reading up on this.

[2021-03-20 03:29] cperciva commented on #473
@0xkag Can you confirm that this is now working for you?

[2021-04-03 16:06] 0xkag commented on #473
@gperciva, @cperciva, `master` builds for me now:

[code]
[code]
[code]

[2021-04-03 17:30] gperciva commented on #473
Thanks, @0xkag!

[2021-04-03 17:30] #473 closed

[2021-04-09 15:24] reece365 opened #477 "Tarsnap Website Screen Reader Compatibility"
Hello,
On the Tarsnap website, the Tarsnap logo/graphic at the top is inside an `<h1>` tag. This can cause issues with how a screen reader reads a websites formating. The screen reader expects _text_ to be inside a `<h1>` tag, not graphics or logos. More information here: https://developer.mozilla.org/en-US/docs/Web/Accessibility/Understanding_WCAG/Text_labels_and_names#headings_should_have_visibl

[2021-04-10 05:16] gperciva commented on #477
Thanks for the report.  Do you work on accessibility or use a screen reader?  I'm aware that firefox reports this an accessibility issue, but I haven't found a definitive reference to back them up.

For anybody skimming these issues, the html in question is this:
[code]

or, expanded for readability:

[code]

The question of "how should we deal with a website logo?" is an old one.  There's a fair

[2021-04-11 00:36] reece365 commented on #477
I'm going to be honest with you, I just saw the issue in Firefox, and I just wanted to make sure that you were aware of the issue. I'm a noob at web design, and don't really have much to add to this, except for this question, how bad for SEO would it be if you just didn't put the logo in a `<h1>` tag?

[2021-04-11 01:28] gperciva commented on #477
Fair enough.  I don't think that we're too concerned about SEO; it's more a question of "what's the best for accessibility and good practice?".

As for having the logo inside `<h1>` or not... it varies.  Wikipedia uses `<h1>` for the article title, while w3c uses it for the logo (and does the trick of having a background image in CSS).  Google doesn't seem to have `<h1>` at all.  If there was any

[2021-09-10 11:13] Villemoes commented on #450
I'd also like to see something like this. I think it is more likely that libarchive/bsdtar could grow support for `--exclude-ignore=FILE` /  `--exclude-ignore-recursive=FILE`, as the semantics of those are better defined and likely easier to implement - it just so happens that those would be sufficient for my use case. FTR,
[code]

[2021-09-24 23:21] wang-songbo commented on #475
If I understood the AskUbuntu answer well, the deb package `tarsnap-archive-keyring` should also no longer install keys to `/etc/apt/trusted.gpg.d`, since keys installed there are unconditionally trusted by `apt`.

[2021-09-25 17:53] gperciva commented on #475
Yes -- if we only want `tarsnap-archive-keyring` to function on newer distros.  The tricky thing is supporting newer distros without losing backwards compatibility.  (For example, allowing people using Ubuntu 12.04 "Precise" to keep on getting updates via `apt-get update && apt-get upgrade`.)

Note to self: documenting the current state for myself, so that I'm not trying to keep track of things pu

[2021-09-27 00:47] heygarrett opened #494 "Look for tarsnap.conf in ~/.config/tarsnap/"
From the [tarsnap.conf man page](https://www.tarsnap.com/man-tarsnap.conf.5.html):

I'm trying to purge $HOME of configuration files (and I've done `chmod -w $HOME` to prevent future messiness), so I'm using ~/.config as much as I can, per the [XDG Base Directory Specification](https://specifications.freedesktop.org/basedir-spec/basedir-spec-latest.html). Looking for a tarsnap.conf in ~/.config/ta

[2021-10-09 21:00] gperciva commented on #475
@dregard, @wang-songbo: we now have an updated keyring package and instructions:
https://www.tarsnap.com/pkg-deb.html#experimental

[2021-11-22 12:51] botovq commented on #319
It wold be nice if this could be reconsidered. In LibreSSL 3.5 many types will be made opaque, including the RSA type. This will break the build of tarsnap. Users on OpenBSD-current will be affected by this before the end of the year. From the compat code that LibreSSL currently reaches, only the call to ERR_remove_thread_state(NULL) in crypto_compat_free() is still needed.

I was going to make a

[2021-11-22 19:15] gperciva commented on #319
Thanks, I didn't know about the LibreSSL 3.5 issue.  Yes, I need to move this up on my priority list.

On a related note, the OpenSSL 3.0 release on 2021-09-07 warns that the "low level" APIs are deprecated, so I've made a few forays into updating our code but nothing serious.  I guess this is a "nice" new topic to delve into on a Monday morning!

(As for "no-one should be using libressl prior to

[2021-11-29 20:21] gperciva commented on #319
Fix appears in #508.

@botovq, does my commentary in https://github.com/Tarsnap/tarsnap/pull/508#issuecomment-981979940 sound reasonable?  I found that I had to call `EVP_cleanup()` with LibreSSL 2.7.0+ in order to clean up all memory.

[2021-12-01 10:50] botovq commented on #319
On Mon, Nov 29, 2021 at 12:21:48PM -0800, Graham Percival wrote:

Yes, it does sound reasonable. Nothing has changed in the vicinity of
EVP_cleanup(), so that will still be required and likely remain to be so
in the foreseeable future.

I need to discuss with the other developers why the documentation is the
way it is - I agree that there is something not quite right there. This
was changed when t

[2021-12-01 22:54] gperciva commented on #319
Fair enough.  Thanks for checking that PR!

[2021-12-01 22:54] #319 closed

[2021-12-13 07:54] kisik21 opened #509 "Optional support for CACHEDIR.TAG files"
Relevant specification: https://bford.info/cachedir/

This is a feature request for an optional configuration flag, named `exclude-cachedirs` (name might be changed at the discretion of impelementors), that would automatically exclude any directory containing a file named `CACHEDIR.TAG` with the first 43 octets consisting of the following ASCII string verbatim: (the aforementioned string is source

[2021-12-13 16:06] cperciva commented on #509
I like the concept, but I wish it were more widely used.  You mention Cargo; the only place it's used on my system is fontconfig.  By far the biggest caches on my system are from Thunderbird and Chromium, neither of which implement this.

I'm not saying no, but I have to admit that I'm a bit dubious about a specification from 2004 which is so sparsely used.

[2021-12-13 22:29] kisik21 commented on #509
Understandable. Thankfully, this is a fairly low-priority issue for me - I don't have a lot of folders like this inside of folders that do need to be backed up, and as such I specify them manually for now.

[2021-12-18 03:48] gperciva commented on #475
Sorry for the late update; we started using the updated keyring package and instructions for the real package (not experimental) on 2021-10-21.

https://www.tarsnap.com/pkg-deb.html

[2021-12-18 03:48] #475 closed

[2022-01-04 15:05] holmesworcester commented on #112
This is still worth doing! It confused me!

(Though this is a funny case where the open issue is its own solution.)

[2022-01-14 14:09] jturner opened #512 "New release?"
What are the odds of a new release? OpenBSD will need this recent change (https://github.com/Tarsnap/tarsnap/commit/65fde80353b1bc53651fa8507ab32336b3d838ea) and we aren't allowed to have patches against tarsnap in our ports tree or are users can't use the official service per the ToC.

Thanks.

[2022-01-14 17:22] cperciva commented on #512
We're planning on doing a release soon.

In the mean time, I hereby give you / OpenBSD / etc permission to distribute Tarsnap with that patch. ;-)

[2022-01-18 03:18] jturner commented on #512
Thank you! We have included a patch in the meantime and look forward to the new release!

[2022-01-18 03:18] #512 closed

[2022-01-25 04:49] gperciva opened #522 "Build fails on NetBSD"
A rather convoluted chain of headers leads to `"sysendian.h"` beind included before `<sys/endian.h>` on NetBSD 8.1.  That's a bit old (2019-05-31), but tarsnap 1.0.39 works on it, so this would be a build failure on a platform which previously worked.

Our `"sysendian.h"` avoids namespace collisions with BSD if it's included after `<sys/endian.h>`, but that method doesn't help if `<sys/endian.h>`

[2022-01-25 04:53] gperciva commented on #522
I poked around a little bit in the OpenSSL and NetBSD github repositories.  I can't see that
[code]
in `<openssl/aes.h>`, but I also didn't notice a commit that said anything like "remove NetBSD include".  I'm completely willing to believe that just didn't notice one.  (I didn't look very hard, since I'm not certain if such code would exist in openssl, or netbsd, or a separate "netbsd ports" git r

[2022-01-25 19:57] gperciva opened #523 "build: The <sys/sysctrl.h> header is deprecated"
Compiling tarsnap on modern GNU/Linux systems leads to this warning (or error, depending on compiler flags):

[code]

That's not a problem, because that part of `lib-platform/util/memlimit.c` is:
[code]

In other words, when `<sys/sysctl.h>` is removed, we won't try to include it.

I'm leaving this github issue open so that it's visible in case anybody else encounters this message and investigates

[2022-01-25 22:43] cperciva commented on #522
I don't think this says what you meant to say.

[2022-01-25 22:48] cperciva commented on #522
Possible solution:

1. Remove `<openssl/aes.h>` from `crypto_internal.h` since it doesn't seem to be used any more.
2. Replace `RSA *` with `void *` in the APIs and drop `<openssl/rsa.h>` from that file too.

[2022-01-27 03:31] gperciva opened #527 "False warnings from clang-scan"
clang 13.0.0's scan-build reports:

* Logic error "Result of operation is garbage or undefined" in `crypto_aesctr_stream_cipherblock_use`.

  This is discussed in https://github.com/Tarsnap/libcperciva/issues/372.

  TL;DR: clang doesn't realize that writing a 32-bit integer will initialize all 4 bytes.

* Logic error "Assigned value is garbage or undefined" in `_mm_loadu_si64` (called from `cpusu

[2022-02-11 03:57] gperciva commented on #522
Fixed in #524.

[2022-02-11 03:57] #522 closed

[2022-05-12 01:10] safinaskar opened #542 "tarsnap can be tricked into skipping file using "touch -r""
As well as I understand tarsnap takes into account file metadata when deciding whether to skip file. Unfortunately, this means that tarsnap can wrongly skip modified file if its metadata was changed in unusual way. I was able to change file metadata using `touch -r` and trick tarsnap into not making backing. Here is full log (`b` is file with randomly generated content):
[code]
I use tarsnap 1.0.4

[2022-05-12 18:06] gperciva commented on #542
I'm curious as to why you use `touch -r`.  You're deliberately modifying a file, then telling the system to pretend that it hasn't been modified by setting the mtime to the previous value?

Anyway, you're correct that tarsnap will avoid reading a file whose inode numbers, size, and mtime hasn't changed, as noted on https://www.tarsnap.com/efficiency.html.

If you want to disable the cache entirely

[2022-05-12 21:41] safinaskar commented on #542
Yes. I often record video from screen using `ffmpeg -f x11grab` and similar things. Sometimes I want to recode video using better compression. And I intentionally keep metadata the same using `touch -r`, so that I could see that the video was created a long ago.

I tried to find such option. I opened page https://www.tarsnap.com/man-tarsnap.1.html , then using "find in page" I searched strings "ch

[2022-05-14 19:56] cperciva commented on #542
I'm tempted to say "don't do that then" -- assuming that "unmodified inode" means "unmodified file" is very common, and as you note it provides a very large performance benefit.  In your case of recompressing a video, tarsnap will do the right thing anyway, since in addition to the modification time it also checks if the file size has changed.

But yes, we could add an `--always-read-files` option

[2022-05-25 07:49] safinaskar commented on #542
I found a perfect solution! Just always use ctime instead of mtime. I was not able to find way to set ctime to some past date. And modern versions of borg-backup use ctime instead of mtime for this purpose, here is their rationale: https://borgbackup.readthedocs.io/en/stable/usage/create.html#borg-create

[2022-09-13 11:14] botovq commented on #319
LibreSSL 3.6 will ship with `OPENSSL_cleanup()` which should help minimize the pain with using valgrind. We do not, however, install it as an `atexit()` function, applications wanting to use it need to do that themselves.

[2022-09-13 17:40] gperciva opened #553 "libressl 3.6 will add `OPENSSL_cleanup()`"
Once libressl 3.6 is out, we should support this.

https://github.com/Tarsnap/tarsnap/issues/319#issuecomment-1245262190

[2022-09-13 17:41] gperciva commented on #319
@botovq thanks! I've added https://github.com/Tarsnap/tarsnap/issues/553 to remind me to use `OPENSSL_cleanup()` once libressl 3.6 is out.

[2022-11-08 15:40] greghuc commented on #333
@cperciva  and @gperciva. Any progress on improving tarsnap backup-restore throughput, as per this ticket from Nov 2018?

I thought I'd ask, as I've been evaluating tarsnap for production use. The design philosophy is great, the cli tool is nice to use, but I keep seeing recent concerns re restore speed:
* This current Github ticket from Nov 2018
* This [tarsnap-users thread from May 2021](https:/

[2022-11-09 10:36] greghuc commented on #333
Brief update re Tarsnap performance test. Restore performance for 17 git repos totalling 2.7G, using 100 tarnsnap clients in parallel with xargs (as per https://github.com/Tarsnap/tarsnap/issues/333#issuecomment-436826656):
- UK computer = 57m 12s
- Heroku US dyno = 8m 46s

That's a 6.5x speed up.

[2022-11-12 09:26] etug80 commented on #66
@cperciva

I think what you need in this case is CC BY-NC-SA 4.0 license. Here, https://creativecommons.org/licenses/by-nc-sa/4.0/

[2022-11-12 09:27] etug80 commented on #351
Tarsnap could be relicensed to [CC BY-NC-SA 4.0](https://creativecommons.org/licenses/by-nc-sa/4.0/)

[2022-11-12 16:58] gperciva commented on #66
@etug80: thanks for your interest, but CC BY-NS-SA 4.0 is not suitable for tarsnap, since @cperciva already said that we do not want people to modify the code.

[2022-11-12 17:07] gperciva commented on #66
@etug80: we do publish some code related to tarsnap under the BSD license:

* [scrypt, for secure key derivation](https://www.tarsnap.com/scrypt.html)
* [spiped, the secure pipe daemon](https://www.tarsnap.com/spiped.html)
* [kivaloo, a data store for 255 bytes](https://www.tarsnap.com/kivaloo.html)
* [tarsnap-gui, still under heavy development](https://github.com/Tarsnap/tarsnap-gui)

More inform

[2022-11-13 02:47] jcs commented on #351
I stopped using Tarsnap years ago, so I no longer care about this

[2022-11-13 02:47] #351 closed

[2022-11-21 09:18] masta79 opened #557 "Deleting of archives taking up a lot of server -> client bandwidth"
I'm cleaning up a large bunch of old hourly backups and run into the problem that the deletion per archive takes 10-15 minutes, and while reducing the required storage by only 1.5GB, the total server -> client bandwidth for this operation was about 15GB. Is this expected?

Is there a more optimized way to delete large bulks of backups, i could not see a difference in deleting them by calling tarsn

[2022-11-21 23:47] cperciva commented on #557
A single tarsnap command deleting multiple archives can be much faster (and use less bandwidth) than separate commands, since it keeps some metadata cached.  For optimal performance (aka to make the cache as efficient as possible), sort the list of archives so that archives which share a lot of their contents are deleted consecutively.

[2022-11-21 23:51] gperciva commented on #557
In the case of hourly backups, "sort the list of archives so that the archives which share a lot of their contents" almost always means "sort them by date&time".  And unless you have a very weird naming scheme, that means "sort them alphabetically".

Our official page about deleting multiple archives faster is
https://www.tarsnap.com/improve-speed.html#faster-delete
but that doesn't contain anythi

[2022-11-22 10:06] masta79 commented on #557
Thank you, I completely missed that part of the documentation, as in my mind "improve speed" was only associated with doing actual backups. I'll run the deletion again and will report back.

Sidenote: It might be beneficial to have a textfile input for the list of archives.

[2022-11-22 19:21] gperciva commented on #557
Hi @masta79,

That's the `--archive-names` option, added in 1.0.38 (2017).

https://www.tarsnap.com/man-tarsnap.1.html

[2022-11-22 20:05] masta79 commented on #557
Sorry for wasting your time, sorry for not reading the documentation properly. Deletion now went through a lot faster, I'll update my scripts to use the options.

/me sees himself out

[2022-11-22 20:05] #557 closed

[2022-11-22 22:25] gperciva commented on #319
@botovq: thanks for the recommendation about `OPENSSL_cleanup()`!

1) is this officially documented anywhere?  In `libressl-3.6.1.tar.gz`, I see
[code]
    but nothing in the `man/` directory.

2) my testing with valgrind 3.20.0 on FreeBSD 12.3 suggests that we need to call `CRYPTO_cleanup_all_ex_data()` as well.  Is that expected?

    I mean, it's not the end of the world if we have to use:

[co

[2022-11-22 22:29] gperciva commented on #319
@botovq to add to my confusion about not understanding the layers -- and for the benefit of anybody skimming this issue -- here's the implementation of `OPENSSL_cleanup()` in `libressl-3.6.1.tar.gz`:

[code]

so it's not like the `OPENSSL_cleanup()` exclusively cleans up `OPENSSL_foo` functions; it's doing `ERR_` and `ENGINE_` and `EVP_` as well.

[2022-11-22 22:47] botovq commented on #319
Thanks for the report, that's our mistake, not yours.
1. No, it's not  yet documented, unfortunately.
2. That's a bug, we'll look into fixing it.
3. Yes, it should clean up everything that was allocated during the library's runtime, not only OPENSSL_foo things (of which there are very few).

[2022-11-24 00:59] cperciva opened #558 "workaround for libc/kernel disagreement about whether lchmod exists"
We need

https://github.com/libarchive/libarchive/commit/51d3acf90c259be3224e22de934b02df3c71f20c
https://github.com/libarchive/libarchive/commit/5ad9ecddb52edd096423d9f43bb5d228f2e07f57

merged to work around a problem where libc defines lchmod but the kernel doesn't support it.  Oh, the joys of operating systems where the kernel and libc are developed independently...